@import '../styles-variables.scss';

nav.navbar {
  background-color: $plevents-grey-light !important;
  * {
    color: $plevents-grey-dark;
    &:is(a) {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      &:hover {
        color: var(--plevents-main-color);
      }
    }
  }
  .nav-logo {
    margin: -0.5rem -1rem;
    margin-right: 25px;
    border: 1px solid $plevents-grey-light;
    background-color: white;
    padding: 0px;
    img {
      margin: 0px 30px 0px 0px;
      max-height: 75px;
    }
  }
  *.active {
    color: var(--plevents-main-color);
    border-bottom: 1px solid var(--plevents-main-color);
  }
  button {
    color: var(--plevents-main-color);
    &:hover {
      color: white;
    }
  }
  ul.navbar-nav {
    @media screen and (max-width: 992px) {
      margin: 7px 0px 10px;
      li {
        margin: 0px -15px;
        padding: 0px 15px;
        &:hover {
          background-color: lighten($plevents-grey-light, 3%);
        }
      }
    }
  }
}

// override bootstrap default behaviour animation when closing the navbar (collapse transition override)
@media (min-width: 992px) {
  #navbarSupportedContent {
    transition: none !important;
    height: 40px !important;
  }
}

.container-fluid {
  flex: 1 1 auto;
}

footer {
  margin-top: 40px;
  flex: 0 1;
  display: flex;
  flex-direction: row;
  div {
    flex: 1 1 auto;
  }
  div.credits {
    text-align: center;
    flex: 1 1 auto;
    padding: 25px 10px;
    width: auto;
    background-color: $plevents-grey-light;
    color: var(--plevents-main-color);
    a {
      color: var(--plevents-main-color);
      font-weight: bold;
      text-decoration: underline;
      &:hover {
        color: var(--plevents-main-color-darkened);
      }
    }
    br {
      @media screen and (min-width: 550px) {
        display: none;
      }
    }
  }
  div.logo-container {
    flex: 1 1 auto;
    img {
      max-width: 30%;
      max-height: 220px;
      background-color: white;
      float: right;
    }
  }
}

#logout-button {
  color: #dc3545;
  &:hover {
    color: white;
  }
}
