<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link nav-logo" routerLink="/events">
    <img src="assets/cvjm-logo.png" />
  </a>
  <ul class="navbar-nav"></ul>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    *ngIf="isLoggedIn()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn()">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Login</a
      >
    </li>
  </ul>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    *ngIf="isLoggedIn()"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active"
          >plEvents</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/emails" routerLinkActive="active"
          >Mailverteiler</a
        >
      </li>
    </ul>
    angemeldet als:&nbsp;<u>{{ username() }}</u>
    <button class="btn btn-outline-danger my-2 my-sm-0 ml-3" (click)="logout()">
      Logout
    </button>
  </div>
</nav>
<div class="container-fluid">
  <div class="row" style="margin-top: 30px;">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer>
  <div class="logo-container">
    <img
      src="assets/cvjm-triangles.png"
      style="height: 220px; background-color: white; float: right;"
    />
  </div>
  <div class="credits">
    <small>zur Verfügung gestellt durch</small>
    <b> Stefan Strobel Software & Service Consulting</b>
  </div>
</footer>
