<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="nav-link nav-logo"
    *ngIf="tenant"
    [routerLink]="[tenant.path, 'events']"
  >
    <img [src]="navbarLogo" />
  </a>
  <div *ngIf="!isLoggedIn() || !tenant" style="flex: 100000000 1 auto"></div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul
      class="navbar-nav mr-auto"
      *ngIf="tenant"
      [ngClass]="{ 'mr-auto': isLoggedIn(), 'ml-auto': !isLoggedIn() }"
    >
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a
          class="nav-link"
          [routerLink]="[tenant.path, 'login']"
          routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a
          class="nav-link"
          [routerLink]="[tenant.path, 'events']"
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          >Events</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a
          class="nav-link"
          [routerLink]="[tenant.path, 'dashboard']"
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          >Dashboard</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a
          class="nav-link"
          [routerLink]="[tenant.path, 'verwaltung']"
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          >Verwaltung</a
        >
      </li>
    </ul>
    <div *ngIf="isLoggedIn()">
      angemeldet als:&nbsp;<u>{{ username() }}</u>
      <button
        class="btn btn-outline-danger my-2 my-sm-0 ml-3"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row" style="margin-top: 30px">
    <div class="col-12 col-lg-10 offset-lg-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer>
  <div class="credits">
    <small>zur Verfügung gestellt von</small>&nbsp;<br />
    <a href="https://s4-consulting.de"
      >Stefan Strobel Software & Service Consulting</a
    >
  </div>
</footer>
