@import '../../../styles-variables.scss';

table tbody tr {
  border-top: 1px solid lighten($plevents-grey-dark, 45%);
  height: 78px;
  td:not(:first-child) div {
    small {
      text-align: center;
      display: inline-block;
      width: 100%;
    }
    padding: 3px;
    background-color: lightgray;
    border: 3px solid white;
    position: relative;
    &.happening {
      background-color: lightgreen;
      color: darkgreen;
      font-weight: bold;
      cursor: pointer;
      &.selected {
        border: 3px solid #005712;
        background-color: #6dc86d;
      }
      &.full {
        background-color: #fecccc;
        color: #780000;
        &.selected {
          border: 3px solid #780000;
          background-color: #f3a2a2;
        }
      }
      &.greyedOut {
        background-color: $plevents-grey-light;
        color: $plevents-grey-dark;
        &.selected {
          border: 3px solid $plevents-grey-dark;
          background-color: darken($plevents-grey-light, 5%);
        }
      }
    }
  }
}

@media (min-width: 767px) {
  table thead tr th:first-of-type,
  table tbody tr td:first-of-type {
    padding: 0px 20px;
  }
}

.selected {
  font-weight: bold;
}

.successBox {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.top-right {
  position: absolute;
  top: 4px;
  right: 4px;
}

.consent-toggler {
  color: #ff004d;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: darken(#ff004d, 10%);
  }
}
