<h2>Anmeldung zu Aktivität</h2>
<div *ngIf="!successfullyRegistered && classOptions != null">
  <form (change)="selectClass($event.target.value)">
    <div class="form-group">
      <label for="classSelect">In welcher Klasse bist du?</label>
      <select class="form-control" id="classSelect">
        <option>--- bitte auswählen ---</option>
        <option *ngFor="let classOption of classOptions">
          {{ classOption }}
        </option>
      </select>
    </div>
  </form>
</div>
<div
  *ngIf="
    !successfullyRegistered &&
    selectedClass != null &&
    selectedClass != '--- bitte auswählen ---'
  "
>
  <p>
    Registriere dich bitte für <b>maximal eine</b> der folgenden Aktivitäten:
  </p>
  <table style="width: 100%">
    <thead>
      <tr>
        <th
          [ngStyle]="{ width: 100 / (week.events.length + 1) + '%' }"
          style="padding-left: 100px"
        >
          KW
        </th>
        <th
          [ngStyle]="{ width: 100 / (week.events.length + 1) + '%' }"
          style="text-align: center"
          *ngFor="let uniqueEvent of week.events"
        >
          {{ uniqueEvent.displayName() }}
          <br />
          {{ uniqueEvent.displayTime() }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="week != null">
        <td style="padding-left: 100px">{{ week.number }} (nächste Woche)</td>
        <td *ngFor="let time of timeColumns">
          <div
            *ngIf="eventAt(time, week.events) !== undefined"
            class="happening"
            [ngClass]="{
              greyedOut: eventAt(time, week.events).isInPast(),
              full:
                eventAt(time, week.events).takenSeats >=
                eventAt(time, week.events).maxSeats,
              selected: eventAt(time, week.events) === selectedEvent
            }"
            (click)="selectEvent(eventAt(time, week.events))"
          >
            {{ eventAt(time, week.events).displayDate() }}<br />
            <small
              >{{ eventAt(time, week.events).takenSeats }} /
              {{ eventAt(time, week.events).maxSeats }} Teilnehmer
            </small>
            <br />
            <br />
            <span *ngIf="!eventAt(time, week.events).isInPast()">
              <span
                *ngIf="
                  eventAt(time, week.events).maxSeats -
                    eventAt(time, week.events).takenSeats >
                  3
                "
                class="badge badge-success top-right"
                >{{ availableSeatsText(eventAt(time, week.events)) }}</span
              >
              <span
                *ngIf="
                  eventAt(time, week.events).maxSeats -
                    eventAt(time, week.events).takenSeats <=
                    3 &&
                  eventAt(time, week.events).maxSeats -
                    eventAt(time, week.events).takenSeats >
                    0
                "
                class="badge badge-warning top-right"
                >{{ availableSeatsText(eventAt(time, week.events)) }}</span
              >
              <span
                *ngIf="
                  eventAt(time, week.events).maxSeats -
                    eventAt(time, week.events).takenSeats <=
                  0
                "
                class="badge badge-danger top-right"
                >ausgebucht</span
              >
            </span>
            <span *ngIf="eventAt(time, week.events).isInPast()">
              <span class="badge badge-secondary top-right"
                >bereits vergangen</span
              >
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div style="margin-top: 40px" [hidden]="selectedEvent === null">
    <div
      [hidden]="selectedEvent && !selectedEvent.isInPast()"
      class="alert alert-secondary"
    >
      Dieses Event liegt in der Vergangenheit. Keine Aktion möglich.
    </div>

    <div
      [hidden]="
        (selectedEvent && selectedEvent.isInPast()) ||
        (selectedEvent && selectedEvent.takenSeats < selectedEvent.maxSeats)
      "
      class="alert alert-danger"
    >
      Dieses Event ist bereits leider ausgebucht!
    </div>
    <div
      [hidden]="
        (selectedEvent && selectedEvent.isInPast()) ||
        (selectedEvent && selectedEvent.takenSeats >= selectedEvent.maxSeats)
      "
    >
      <h5>Angaben zu Teilnehmer:</h5>
      <form [formGroup]="registerForm" (ngSubmit)="registerParticipant()">
        <div class="row">
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('name') }"
          >
            <label for="name">Name des Teilnehmers</label>
            <br />
            <input
              class="form-control"
              id="name"
              type="text"
              formControlName="name"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('email') }"
          >
            <label for="email">Email</label>
            <br />
            <input
              class="form-control"
              id="email"
              type="email"
              formControlName="email"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('phone') }"
          >
            <label for="phone">Telefonnummer</label>
            <br />
            <input
              class="form-control"
              id="phone"
              type="phone"
              formControlName="phone"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('street') }"
          >
            <label for="street">Straße & Hausnummer</label>
            <br />
            <input
              class="form-control"
              id="street"
              type="text"
              formControlName="street"
            />
          </div>
          <div class="col-6 col-md-4" [ngClass]="{ invalid: isInvalid('zip') }">
            <label for="zip">PLZ</label>
            <br />
            <input
              class="form-control"
              id="zip"
              type="text"
              formControlName="zip"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('city') }"
          >
            <label for="city">Ort</label>
            <br />
            <input
              class="form-control"
              id="city"
              type="text"
              formControlName="city"
            />
          </div>
          <div
            class="col-12 col-md-8 form-check"
            style="padding-top: 26px; padding-left: 1.25rem"
          >
            <div
              *ngIf="consentTeaser1 && consentTeaser1.length > 0"
              [ngClass]="{
                invalid:
                  registerForm.touched &&
                  registerForm.get('consent1').value === false
              }"
            >
              <input
                class="form-check-input"
                id="consent1"
                type="checkbox"
                formControlName="consent1"
                style="margin-left: 0px"
              />
              <label
                class="form-check-label"
                for="consent1"
                style="margin-bottom: 0; margin-left: 1.25rem; cursor: pointer"
                >{{ consentTeaser1 }}</label
              >
              &nbsp;
              <span *ngIf="consentText1 && consentText1.length > 0">
                <small
                  *ngIf="!consentText1Shown"
                  (click)="consentText1Shown = true"
                  class="consent-toggler"
                  >Details anzeigen</small
                >
                <small
                  *ngIf="consentText1Shown"
                  (click)="consentText1Shown = false"
                  class="consent-toggler"
                  >Details ausblenden</small
                >
              </span>
              <div *ngIf="consentText1Shown" [innerHTML]="consentText1"></div>
            </div>
            <div
              *ngIf="consentTeaser2 && consentTeaser2.length > 0"
              [ngClass]="{
                invalid:
                  registerForm.touched &&
                  registerForm.get('consent2').value === false
              }"
            >
              <input
                class="form-check-input"
                id="consent2"
                type="checkbox"
                formControlName="consent2"
                style="margin-left: 0px"
              />
              <label
                class="form-check-label"
                for="consent2"
                style="margin-bottom: 0; margin-left: 1.25rem; cursor: pointer"
                >{{ consentTeaser2 }}</label
              >
              &nbsp;
              <span *ngIf="consentText2 && consentText2.length > 0">
                <small
                  *ngIf="!consentText2Shown"
                  (click)="consentText2Shown = true"
                  class="consent-toggler"
                  >Details anzeigen</small
                >
                <small
                  *ngIf="consentText2Shown"
                  (click)="consentText2Shown = false"
                  class="consent-toggler"
                  >Details ausblenden</small
                >
              </span>
              <div *ngIf="consentText2Shown" [innerHTML]="consentText2"></div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <button
              class="btn btn-block btn-success"
              type="submit"
              style="margin-top: 32px"
            >
              Zum Event anmelden
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="successfullyRegistered" class="alert alert-success successBox">
  Du hast dich erfolgreich zu <b>{{ selectedEvent.name }}</b> angemeldet!
  <br />
  <br />
  Bitte beachte, dass du dich nicht für weitere Events in dieser Woche anmelden
  kannst.
</div>
