@import '../../../styles-variables.scss';

table tbody tr {
  border-top: 1px solid lighten($plevents-grey-dark, 45%);
  height: 78px;
}

@media (min-width: 767px) {
  table thead tr th:first-of-type,
  table tbody tr td:first-of-type {
    padding: 0px 20px;
  }
}

.successBox {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

table thead {
  background-color: #d3d3d3;
}

.consent-toggler {
  color: #ff004d;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: darken(#ff004d, 10%);
  }
}

form div.row div label {
  margin-top: 20px;
}

.category-card {
  padding: 40px 20px;
  @media (max-width: 575px) {
    padding: 5px 15px;
  }
  border: 1px solid #ff004d;
  color: #ff004d;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #ff004d;
    color: white;
  }
}

.back-to-categories {
  padding: 5px 15px;
  margin-bottom: 5px;
  border: 1px solid #ff004d;
  color: #ff004d;
  cursor: pointer;
  width: max-content;
  &:hover {
    background-color: #ff004d;
    color: white;
  }
}
