<p>
  Registrieren Sie sich für <b>eine</b> der folgenden Aktivitäten in der
  nächsten Woche:
</p>
<table style="width: 100%;">
  <thead>
    <tr>
      <th
        [ngStyle]="{ width: 100 / (uniqueEvents.length + 1) + '%' }"
        style="padding-left: 100px;"
      >
        KW
      </th>
      <th
        [ngStyle]="{ width: 100 / (uniqueEvents.length + 1) + '%' }"
        style="text-align: center;"
        *ngFor="let uniqueEvent of uniqueEvents"
      >
        {{ uniqueEvent.name }}
        <br />
        {{ uniqueEvent.displayTime() }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of weeks; let i = index">
      <td style="padding-left: 100px;">
        {{ week.number }}
        <small *ngIf="i === 0">(diese Woche)</small>
        <small *ngIf="i === 1">(nächste Woche)</small>
      </td>
      <td *ngFor="let time of timeColumns">
        <div
          *ngIf="eventAt(time, week.events) !== undefined"
          class="happening"
          [ngClass]="{
            greyedOut: eventAt(time, week.events).isInPast(),
            full:
              eventAt(time, week.events).takenSeats >=
              eventAt(time, week.events).maxSeats,
            selected: eventAt(time, week.events) === selectedEvent
          }"
          (click)="selectEvent(eventAt(time, week.events))"
        >
          {{ eventAt(time, week.events).displayDate() }}<br />
          <small
            >{{ eventAt(time, week.events).takenSeats }} /
            {{ eventAt(time, week.events).maxSeats }} Teilnehmer
          </small>
          <br />
          <br />
          <span *ngIf="!eventAt(time, week.events).isInPast()">
            <span
              *ngIf="
                eventAt(time, week.events).maxSeats -
                  eventAt(time, week.events).takenSeats >
                3
              "
              class="badge badge-success top-right"
              >noch
              {{
                eventAt(time, week.events).maxSeats -
                  eventAt(time, week.events).takenSeats
              }}
              freie Plätze</span
            >
            <span
              *ngIf="
                eventAt(time, week.events).maxSeats -
                  eventAt(time, week.events).takenSeats <=
                  3 &&
                eventAt(time, week.events).maxSeats -
                  eventAt(time, week.events).takenSeats >
                  0
              "
              class="badge badge-warning top-right"
              >noch
              {{
                eventAt(time, week.events).maxSeats -
                  eventAt(time, week.events).takenSeats
              }}
              freie Plätze</span
            >
            <span
              *ngIf="
                eventAt(time, week.events).maxSeats -
                  eventAt(time, week.events).takenSeats <=
                0
              "
              class="badge badge-danger top-right"
              >ausgebucht</span
            >
          </span>
          <span *ngIf="eventAt(time, week.events).isInPast()">
            <span class="badge badge-secondary top-right"
              >bereits vergangen</span
            >
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div
  style="margin-top: 40px; margin-bottom: 150px;"
  [hidden]="selectedEvent === null"
>
  <div
    [hidden]="selectedEvent && !selectedEvent.isInPast()"
    class="alert alert-secondary"
  >
    Dieses Event liegt in der Vergangenheit. Keine Aktion möglich.
  </div>

  <div
    [hidden]="
      (selectedEvent && selectedEvent.isInPast()) ||
      (selectedEvent && selectedEvent.takenSeats < selectedEvent.maxSeats)
    "
    class="alert alert-danger"
  >
    Dieses Event ist bereits leider ausgebucht!
  </div>
  <div
    [hidden]="
      (selectedEvent && selectedEvent.isInPast()) ||
      (selectedEvent && selectedEvent.takenSeats >= selectedEvent.maxSeats)
    "
  >
    <h5>Angaben zu Teilnehmer:</h5>
    <form [formGroup]="registerForm" (ngSubmit)="registerParticipant()">
      <div class="row">
        <div class="col-6 col-md-4">
          <label for="name">Name des Teilnehmers</label>
          <br />
          <input
            class="form-control"
            id="name"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="col-6 col-md-4">
          <label for="email">Email</label>
          <br />
          <input
            class="form-control"
            id="email"
            type="email"
            formControlName="email"
          />
        </div>
        <div class="col-6 col-md-4">
          <label for="phone">Telefonnummer</label>
          <br />
          <input
            class="form-control"
            id="phone"
            type="phone"
            formControlName="phone"
          />
        </div>
        <div class="col-6 col-md-4">
          <label for="street">Straße & Hausnummer</label>
          <br />
          <input
            class="form-control"
            id="street"
            type="text"
            formControlName="street"
          />
        </div>
        <div class="col-6 col-md-4">
          <label for="zip">PLZ</label>
          <br />
          <input
            class="form-control"
            id="zip"
            type="text"
            formControlName="zip"
          />
        </div>
        <div class="col-6 col-md-4 mb-3">
          <label for="city">Ort</label>
          <br />
          <input
            class="form-control"
            id="city"
            type="text"
            formControlName="city"
          />
        </div>
        <div class="col-12 col-md-4 offset-md-8">
          <button class="btn btn-block btn-success" type="submit">
            Zum Event anmelden
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="successfullyRegistered" class="alert alert-success successBox">
  Sie haben sich erfolgreich angemeldet!
  <br />
  Bitte beachten Sie, dass Sie sich nicht für weitere Events in dieser Woche
  anmelden können.
</div>
