<div class="row">
  <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4">
    <div class="card">
      <h4 class="card-header">Passwort Rücksetzung</h4>
      <div class="card-body">
        <form
          [formGroup]="resetForm"
          (ngSubmit)="requestPasswordReset()"
          *ngIf="passwordResetStatus !== 'success'"
        >
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  resetForm.get('email').invalid &&
                  resetForm.get('email').touched
              }"
              required
            />
            <div
              *ngIf="
                resetForm.get('email').errors && resetForm.get('email').touched
              "
              class="invalid-feedback"
            >
              <div *ngIf="resetForm.get('email').errors.required">
                Bitte Email angeben
              </div>
            </div>
          </div>
          <div class="text-right">
            <button [disabled]="loading" class="btn btn-success">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Passwort zurücksetzen
            </button>
          </div>
        </form>
        <div
          *ngIf="passwordResetStatus === 'success'"
          class="alert alert-success text-center mt-3 mb-0"
        >
          Falls Ihre Email-Adresse im System bekannt ist, schicken wir Ihnen
          eine Email mit einem Link zum Passwort-Reset zu.
        </div>
        <div
          *ngIf="passwordResetStatus === 'error'"
          class="alert alert-warning text-center mt-3 mb-0"
        >
          Beim Passwort-Reset trat ein Fehler auf. Bitte versuchen Sie es später
          nochmals
        </div>
      </div>
    </div>
  </div>
</div>
