<h2 *ngIf="tenant && tenant.active">Anmeldung zu Aktivität</h2>
<div
  *ngIf="
    !successfullyRegistered &&
    categoryOptions != null &&
    selectedCategory === undefined &&
    tenant &&
    tenant.active
  "
  class="row"
>
  <div class="col-12">
    <p>
      Bitte wähle zuerst eine Kategorie aus, zu der dir Events angezeigt werden:
    </p>
  </div>
  <div
    class="col-12 col-sm-4 col-md-3 p-1"
    *ngFor="let category of categories"
    (click)="selectCategory(category)"
  >
    <div class="category-card">
      <i class="fas mr-2 {{ category.icon }}" *ngIf="category.icon"></i>
      {{ category.name }}
    </div>
  </div>
  <div class="col-12 col-sm-4 col-md-3 p-1" (click)="selectCategory(null)">
    <div class="category-card">alle Events</div>
  </div>
</div>
<div *ngIf="!successfullyRegistered && selectedCategory !== undefined">
  <div class="back-to-categories" (click)="selectedCategory = undefined">
    <i class="fas fa-chevron-left"></i>
    zurück zur Kategorie-Auswahl
  </div>
  <span>
    Registriere dich bitte für eine der folgenden Aktivitäten in der Kategorie
    <span style="color: var(--plevents-main-color)">{{
      selectedCategory === null ? 'alle Events' : selectedCategory.name
    }}</span
    >:
  </span>
  <!-- horizontal table -->
  <table class="w-100 d-none d-lg-table mt-3">
    <thead>
      <tr *ngIf="uniqueEvents">
        <th [ngStyle]="{ width: 100 / (uniqueEvents.length + 1) + '%' }">KW</th>
        <th
          [ngStyle]="{ width: 100 / (uniqueEvents.length + 1) + '%' }"
          style="text-align: center"
          *ngFor="let uniqueEvent of uniqueEvents"
        >
          {{ uniqueEvent.displayName() }}
          <br />
          <span class="badge badge-secondary">{{
            uniqueEvent.displayTime()
          }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks; index as i">
        <td>
          {{ week.number }}
          <span *ngIf="i === 0"><br />(diese Woche)</span>
          <span *ngIf="i === 1"><br />(nächste Woche)</span>
        </td>
        <td *ngFor="let event of week.events">
          <app-event-select
            [event]="event"
            (click)="selectEvent(event)"
            [selected]="event === selectedEvent"
          ></app-event-select>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- vertical table -->
  <div
    *ngIf="uniqueEvents && recurringEvents(uniqueEvents).length > 0"
    class="mt-3 d-lg-none"
  >
    <h5>Regelmäßige Aktivitäten</h5>
    <table class="w-100">
      <thead>
        <tr>
          <th style="width: 30%"></th>
          <th style="width: 35%" *ngIf="weeks[0] != null">
            {{ weeks[0].number }}<br />(diese Woche)
          </th>
          <th style="width: 35%" *ngIf="weeks[1] != null">
            {{ weeks[1].number }}<br />(nächste Woche)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let uniqueEvent of recurringEvents(uniqueEvents); index as i"
        >
          <td>
            {{ uniqueEvent.displayName() }}
            <br />
            <span class="badge badge-secondary">{{
              uniqueEvent.displayTime()
            }}</span>
          </td>
          <td>
            <app-event-select
              *ngIf="weeks[0].events[i]"
              [event]="weeks[0].events[i]"
              (click)="selectEvent(weeks[0].events[i])"
              [selected]="weeks[0].events[i] === selectedEvent"
            ></app-event-select>
          </td>
          <td>
            <app-event-select
              *ngIf="weeks[1].events[i]"
              [event]="weeks[1].events[i]"
              (click)="selectEvent(weeks[1].events[i])"
              [selected]="weeks[1].events[i] === selectedEvent"
            ></app-event-select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="uniqueEvents && singleEvents(uniqueEvents).length > 0"
    class="mt-3 d-lg-none"
  >
    <h5>Einmalige Aktivitäten</h5>
    <table class="w-100">
      <tbody *ngIf="uniqueEvents">
        <tr *ngFor="let singleEvent of singleEvents(uniqueEvents)">
          <td>
            {{ singleEvent.displayName() }}
            <br />
            <span class="badge badge-secondary">{{
              singleEvent.displayTime()
            }}</span>
          </td>
          <td>
            <app-event-select
              [event]="singleEvent"
              (click)="selectEvent(singleEvent)"
              [selected]="singleEvent === selectedEvent"
            ></app-event-select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="margin-top: 40px" *ngIf="selectedEvent">
    <div
      *ngIf="selectedEvent && selectedEvent.isInPast()"
      class="alert alert-secondary"
    >
      Dieses Event liegt in der Vergangenheit. Keine Aktion möglich.
    </div>

    <div
      *ngIf="
        selectedEvent &&
        !selectedEvent.isInPast() &&
        selectedEvent.takenSeats >= selectedEvent.maxSeats
      "
      class="alert alert-danger"
    >
      Dieses Event ist bereits leider ausgebucht!
    </div>
    <div
      *ngIf="
        selectedEvent &&
        !selectedEvent.isInPast() &&
        selectedEvent.takenSeats < selectedEvent.maxSeats
      "
    >
      <h5>Angaben zu Teilnehmer:</h5>
      <p>
        für die Anmeldung zu
        <b>{{ selectedEvent.name }}</b> am
        <span *ngIf="!selectedEvent.singleOccurence"
          ><b>{{ selectedEvent.displayDate() }}</b> um</span
        >
        <b>{{ selectedEvent.displayTime(false) }} Uhr</b>:
      </p>
      <form [formGroup]="registerForm" (ngSubmit)="registerParticipant()">
        <div class="row">
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('firstname') }"
          >
            <label for="firstname">Vorname</label>
            <br />
            <input
              class="form-control"
              id="firstname"
              type="text"
              placeholder="Vorname des Teilnehmers"
              formControlName="firstname"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('lastname') }"
          >
            <label for="lastname">Nachname</label>
            <br />
            <input
              class="form-control"
              id="lastname"
              type="text"
              placeholder="Nachname des Teilnehmers"
              formControlName="lastname"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('email') }"
          >
            <label for="email">Email</label>
            <br />
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder="Kontakt-Email Adresse"
              formControlName="email"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('phone') }"
          >
            <label for="phone">Telefonnummer</label>
            <br />
            <input
              class="form-control"
              id="phone"
              type="phone"
              placeholder="Telefonnr für Rückfragen"
              formControlName="phone"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('street') }"
          >
            <label for="street">Adresse</label>
            <br />
            <input
              class="form-control"
              id="street"
              type="text"
              placeholder="Straße & Hausnummer"
              formControlName="street"
            />
          </div>
          <div class="col-6 col-md-4" [ngClass]="{ invalid: isInvalid('zip') }">
            <label for="zip">PLZ</label>
            <br />
            <input
              class="form-control"
              id="zip"
              type="text"
              placeholder="Postleitzahl"
              formControlName="zip"
            />
          </div>
          <div
            class="col-6 col-md-4"
            [ngClass]="{ invalid: isInvalid('city') }"
          >
            <label for="city">Ort</label>
            <br />
            <input
              class="form-control"
              id="city"
              type="text"
              placeholder="Wohnort"
              formControlName="city"
            />
          </div>
          <div class="col-12 form-check sg-consent-boxes">
            <div
              class="form-group"
              [ngClass]="{
                invalid:
                  registerForm.touched &&
                  registerForm.get('dataprivacy').value === false
              }"
            >
              <input
                class="form-check-input"
                id="dataprivacy"
                type="checkbox"
                formControlName="dataprivacy"
                required
              />
              <label class="form-check-label" for="dataprivacy"
                >Hiermit bestätige ich, dass ich die
                <a href="/rechtliches#datenschutz" target="_blank"
                  >Datenschutzbestimmungen</a
                >
                von plevents.de gelesen habe und diesen zustimme. Meine Daten
                werden nach spätestens 4 Wochen automatisch gelöscht.</label
              >
            </div>
            <div
              class="form-group"
              *ngIf="consentTeaser1 && consentTeaser1.length > 0"
              [ngClass]="{
                invalid:
                  registerForm.touched &&
                  registerForm.get('consent1').value === false
              }"
            >
              <input
                class="form-check-input"
                id="consent1"
                type="checkbox"
                formControlName="consent1"
                required
              />
              <label class="form-check-label" for="consent1">{{
                consentTeaser1
              }}</label>
              <span *ngIf="consentText1 && consentText1.length > 0">
                <small
                  *ngIf="!consentText1Shown"
                  (click)="consentText1Shown = true"
                  class="consent-toggler"
                  >Details anzeigen</small
                >
                <small
                  *ngIf="consentText1Shown"
                  (click)="consentText1Shown = false"
                  class="consent-toggler"
                  >Details ausblenden</small
                >
              </span>
              <div *ngIf="consentText1Shown" [innerHTML]="consentText1"></div>
            </div>
            <div
              class="form-group"
              *ngIf="consentTeaser2 && consentTeaser2.length > 0"
              [ngClass]="{
                invalid:
                  registerForm.touched &&
                  registerForm.get('consent2').value === false
              }"
            >
              <input
                class="form-check-input"
                id="consent2"
                type="checkbox"
                formControlName="consent2"
                required
              />
              <label class="form-check-label" for="consent2">{{
                consentTeaser2
              }}</label>
              <span *ngIf="consentText2 && consentText2.length > 0">
                <small
                  *ngIf="!consentText2Shown"
                  (click)="consentText2Shown = true"
                  class="consent-toggler"
                  >Details anzeigen</small
                >
                <small
                  *ngIf="consentText2Shown"
                  (click)="consentText2Shown = false"
                  class="consent-toggler"
                  >Details ausblenden</small
                >
              </span>
              <div *ngIf="consentText2Shown" [innerHTML]="consentText2"></div>
            </div>
            <div class="form-group">
              <input
                class="form-check-input"
                id="rememberMe"
                type="checkbox"
                formControlName="rememberMe"
              />
              <label class="form-check-label" for="rememberMe">
                Meine eingegebenen persönlichen Daten sollen auf diesem Gerät
                gespeichert werden. Dies ermöglicht eine schnellere Anmeldung
                zur nächsten Aktivität, da die Felder dann automatisch
                ausgefüllt werden.
              </label>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <button
              class="btn btn-block btn-success"
              type="submit"
              style="margin-top: 32px"
            >
              Zum Event anmelden
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="successfullyRegistered" class="alert alert-success messageBox">
  Du hast dich erfolgreich zu <b>{{ selectedEvent.name }}</b> angemeldet!
  <br />
  <br />
  Bitte beachte, dass du dich nicht für weitere Events in dieser Woche anmelden
  kannst.
</div>

<div *ngIf="tenant && !tenant.active" class="alert alert-warning messageBox">
  Die angefragte Organisation ist noch nicht freigeschaltet. Daher sind noch
  keine Anmeldungen zu Aktivitäten möglich.
  <br /><br />
  Bitte kontaktieren Sie den Support, falls Sie der Administrator dieser
  Organisation sind.
</div>
