@import '../../../styles-variables.scss';

table tbody tr {
  border-top: 1px solid lighten($plevents-grey-dark, 45%);
  height: 78px;
}

@media (min-width: 767px) {
  table thead tr th:first-of-type,
  table tbody tr td:first-of-type {
    padding: 0px 20px;
  }
}

.messageBox {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

table thead {
  background-color: #d3d3d3;
}

.consent-toggler {
  color: var(--plevents-main-color);
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: var(--plevents-main-color-darkened);
  }
}

form div.row div label {
  margin-top: 20px;
}

.category-card {
  padding: 40px 20px;
  @media (max-width: 575px) {
    padding: 5px 15px;
  }
  border: 1px solid var(--plevents-main-color);
  color: var(--plevents-main-color);
  text-align: center;
  font-size: larger;
  cursor: pointer;
  &:hover {
    background-color: var(--plevents-main-color);
    color: white;
  }
}

.back-to-categories {
  padding: 5px 15px;
  margin-bottom: 5px;
  border: 1px solid var(--plevents-main-color);
  color: var(--plevents-main-color);
  cursor: pointer;
  width: max-content;
  &:hover {
    background-color: var(--plevents-main-color);
    color: white;
  }
}

.sg-consent-boxes {
  padding-top: 26px;
  padding-left: 1.25rem;
  input {
    margin-left: 0px;
  }
  label {
    margin-top: 0px !important;
    margin-bottom: 0;
    margin-left: 1.25rem;
    cursor: pointer;
  }
}
