<h4>Lizenz</h4>
<div
  class="alert alert-secondary d-flex"
  *ngIf="tenant.active"
  style="background-color: whitesmoke"
>
  <div style="width: 50px">
    <i class="fas fa-check text-success"></i>
  </div>
  <div class="flex-grow-1">
    <div>
      Die Organisation hat<span *ngIf="tenant.subscriptionUntil">
        noch bis zum
        <b>{{ tenant.subscriptionUntil | date: 'dd.MM.yyyy' }}</b></span
      >
      eine gültige Lizenz.
    </div>
    <a
      *ngIf="linkToCustomerPortal && tenant.subscriptionUntil"
      [href]="linkToCustomerPortal"
      target="_blank"
    >
      Alte Rechnungen einsehen
    </a>
    <a
      *ngIf="!tenant.subscriptionUntil"
      class="btn btn-sm btn-outline-success float-right"
      [href]="linkToCustomerPortal"
      target="_blank"
    >
      Zahlungen und Rechnungen verwalten
    </a>
    <button
      *ngIf="tenant.subscriptionUntil"
      class="btn btn-sm btn-outline-success float-right"
      (click)="initializeSubscription()"
    >
      Neue Lizenz erwerben
    </button>
  </div>
</div>
<div
  class="alert alert-secondary d-flex"
  *ngIf="!tenant.active"
  style="background-color: whitesmoke"
>
  <div style="width: 50px">
    <i class="fas fa-exclamation-triangle text-danger"></i>
  </div>
  <div class="flex-grow-1">
    <div>
      Diese Organisation ist gerade nicht freigeschaltet und kann daher nicht
      genutzt werden. Bitte eine Lizenz kaufen, damit Events öffentlich
      angezeigt werden.
    </div>
    <a
      *ngIf="linkToCustomerPortal"
      [href]="linkToCustomerPortal"
      target="_blank"
    >
      Alte Rechnungen einsehen
    </a>
    <button
      class="btn btn-sm btn-outline-success float-right"
      (click)="initializeSubscription()"
    >
      Jetzt Lizenz erwerben
    </button>
  </div>
</div>
