<div>
  <h4>Kategorien</h4>
  <p>Definieren Sie hier die Kategorien, denen Events zugeordnet werden.</p>
  <form [formGroup]="categoryForm">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let category of categories"
      >
        <div class="row">
          <div class="col-8 col-md-9 d-flex">
            <i
              class="fas mr-2 {{ category.icon }}"
              [ngStyle]="{
                'line-height': isBeingEdited(category.id) ? '31px' : '24px',
                'color': isBeingEdited(category.id)
                  ? 'var(--plevents-main-color)'
                  : ''
              }"
              *ngIf="category.icon"
              [ngClass]="{ clickable: isBeingEdited(category.id) }"
              (click)="openIconSelection(category, iconSelectionModal)"
            ></i>
            <i
              class="fas mr-2 fa-image clickable"
              [ngStyle]="{
                'line-height': isBeingEdited(category.id) ? '31px' : '24px',
                'color': isBeingEdited(category.id)
                  ? 'var(--plevents-main-color)'
                  : ''
              }"
              *ngIf="!category.icon && isBeingEdited(category.id)"
              (click)="openIconSelection(category, iconSelectionModal)"
            ></i>
            <span *ngIf="!isBeingEdited(category.id)">
              {{ category.name }}
            </span>
            <input
              *ngIf="isBeingEdited(category.id)"
              class="form-control form-control-sm flex-grow-1"
              type="text"
              [formControlName]="category.id"
              [ngClass]="{
                'is-invalid': categoryForm.controls[category.id].invalid
              }"
            />
          </div>
          <div
            class="col-4 col-md-3 text-right"
            *ngIf="appService.hasRole(tenant.id, ROLE.OWNER)"
          >
            <i
              *ngIf="!isBeingEdited(category.id)"
              class="fas fa-edit clickable"
              (click)="edit(category)"
            ></i>
            <i
              *ngIf="!isBeingEdited(category.id)"
              class="fas fa-trash-alt clickable ml-4 text-danger"
              (click)="deleteCategory(category)"
            ></i>
            <button
              *ngIf="isBeingEdited(category.id)"
              class="btn btn-sm btn-outline-success"
              (click)="save(category)"
            >
              Speichern
            </button>
          </div>
        </div>
      </li>
      <li
        class="list-group-item list-group-item-action"
        *ngIf="appService.hasRole(tenant.id, ROLE.OWNER)"
      >
        <div class="d-flex">
          <i
            class="fas mr-2 clickable {{
              newCategory.icon ? newCategory.icon : 'fa-icons'
            }}"
            style="line-height: 38px"
            (click)="openIconSelection(newCategory, iconSelectionModal)"
          ></i>
          <div class="flex-grow-1">
            <input
              class="form-control w-100"
              type="text"
              formControlName="newCategory"
              placeholder="Neue Kategorie anlegen"
            />
            <div
              *ngIf="
                categoryForm.get('newCategory').value &&
                categoryForm.get('newCategory').value.length >= 20
              "
              class="text-warning mt-1"
              style="font-size: small"
            >
              <i class="fas fa-exclamation-triangle mr-1"></i>
              Der Name der Kategorie sollte für eine gute Darstellung am besten
              unter 20 Zeichen lang sein
            </div>
          </div>
          <button class="ml-3 btn btn-outline-success" (click)="save()">
            Hinzufügen
          </button>
        </div>
      </li>
    </ul>
  </form>
</div>

<ng-template #iconSelectionModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Icon Auswahl</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Wählen Sie zwischen den verfügbaren Icons aus, um Ihren Events ein
      aussagekräftiges Icon hinzuzufügen.
    </p>
    <!-- icon selection -->
    <div
      class="iconContainer clickable"
      *ngFor="let iconClassName of iconClassNames"
      (click)="selectIcon(iconClassName)"
    >
      <i class="fas {{ iconClassName }}"></i>
    </div>
    <div class="alert alert-light p-2 mt-2" style="background-color: #f9f9f9">
      Kein passendes Icon dabei? Einfach eine Mail an
      <a href="mailto: stefan.strobel@s4-consulting.de"
        >stefan.strobel@s4-consulting.de</a
      >
      mit dem Wunsch-Icon schreiben.
    </div>
  </div>
  <div class="modal-footer d-block">
    <button
      type="button"
      class="btn btn-outline-secondary float-left"
      (click)="modalRef.hide()"
    >
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary float-right"
      (click)="selectIcon(null)"
    >
      Kein Icon
    </button>
  </div>
</ng-template>
