<div>
  <h4>Kategorien</h4>
  <p>Definieren Sie hier die Kategorien, denen Events zugeordnet werden.</p>
  <form [formGroup]="categoryForm">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let category of categories"
      >
        <div class="row">
          <div class="col-8 col-md-9">
            <span *ngIf="!isBeingEdited(category.id)">
              {{ category.name }}
            </span>
            <input
              *ngIf="isBeingEdited(category.id)"
              class="form-control"
              type="text"
              [formControlName]="category.id"
              [ngClass]="{
                'is-invalid': categoryForm.controls[category.id].invalid
              }"
            />
          </div>
          <div
            class="col-4 col-md-3 text-right"
            *ngIf="appService.hasRole(tenant.id, ROLE.OWNER)"
          >
            <i
              *ngIf="!isBeingEdited(category.id)"
              class="fas fa-edit clickable"
              (click)="edit(category)"
            ></i>
            <i
              *ngIf="!isBeingEdited(category.id)"
              class="fas fa-trash-alt clickable ml-4 text-danger"
              (click)="deleteCategory(category)"
            ></i>
            <button
              *ngIf="isBeingEdited(category.id)"
              class="btn btn-outline-success"
              (click)="save(category)"
            >
              Speichern
            </button>
          </div>
        </div>
      </li>
      <li
        class="list-group-item list-group-item-action"
        *ngIf="appService.hasRole(tenant.id, ROLE.OWNER)"
      >
        <div class="d-flex">
          <input
            class="form-control flex-grow-1"
            type="text"
            formControlName="newCategory"
            placeholder="Neue Kategorie anlegen"
            [ngClass]="{
              'is-invalid':
                categoryForm.controls.newCategory.invalid &&
                categoryForm.controls.newCategory.touched
            }"
          />
          <button class="ml-3 btn btn-outline-success" (click)="save()">
            Hinzufügen
          </button>
        </div>
      </li>
    </ul>
  </form>
</div>
