<h2>Profilverwaltung</h2>
<p>
  Verwalten Sie hier Ihren Namen, ändern Sie das Passwort oder löschen Sie Ihr
  Nutzerprofil.
</p>

<hr />

<!-- two-column layout -->
<div class="row">
  <div class="col-12 col-lg-6 col-xl-5">
    <div class="row">
      <div class="col-12">
        <h4>Name</h4>
        <p>
          Ihr Name wird in der Navigationsleiste angezeigt und ist auch in der
          Verwaltung der Organisationen für alle anderen Administratoren
          sichtbar. Ihr Name wird allerdings nicht auf öffentlich zugänglichen
          Seiten angezeigt.
        </p>
        <form [formGroup]="nameForm">
          <div class="row">
            <div class="col-12" [ngClass]="{ invalid: isInvalid('name') }">
              <label for="name">Name *</label>
              <br />
              <input
                class="form-control"
                id="name"
                type="text"
                formControlName="name"
              />
            </div>
            <div class="col-12 text-right mt-3">
              <button
                class="btn btn-outline-success"
                (click)="updateName()"
                [disabled]="operationOngoing"
              >
                Speichern
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 mt-5 mb-5">
        <h4>Passwort</h4>
        <p>
          Ändern Sie hier, falls gewünscht, Ihr Passwort. Vergeben Sie dazu ein
          neues Passwort und bestätigen Sie die Änderung durch Eingabe Ihres
          bisherigen / aktuellen Passworts.
        </p>
        <form [formGroup]="passwordForm">
          <div class="row">
            <div
              class="col-12 col-md-6"
              [ngClass]="{ invalid: isInvalid('oldPassword') }"
            >
              <label for="oldPassword">Altes Passwort *</label>
              <br />
              <input
                class="form-control"
                id="oldPassword"
                type="password"
                formControlName="oldPassword"
              />
            </div>
            <div
              class="col-12 col-md-6"
              [ngClass]="{ invalid: isInvalid('newPassword') }"
            >
              <label for="newPassword">Neues Passwort *</label>
              <br />
              <input
                class="form-control"
                id="newPassword"
                type="password"
                formControlName="newPassword"
              />
            </div>
            <div class="col-12 text-right mt-3">
              <button
                class="btn btn-outline-success"
                (click)="changePassword()"
                [disabled]="operationOngoing"
              >
                Passwort ändern
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-5 offset-xl-2">
    <h4>Löschung</h4>
    <div class="row">
      <div class="col-12">
        Falls Sie Ihr persönliches Profil nicht mehr benötigen, können Sie hier
        jegliche personenbezogene Daten löschen. Hierzu gehören:
        <ul>
          <li>Ihr Name</li>
          <li>Ihre Email-Adresse</li>
          <li>alle Verbindungen zu plevents Organisationen</li>
        </ul>
        Die Löschung erfolgt sofort und kann <b>nicht</b> rückgängig gemacht
        werden!
      </div>
      <div class="col-12 text-right">
        <button
          class="btn btn-outline-danger"
          (click)="deleteProfile()"
          [disabled]="operationOngoing"
        >
          Mein Profil löschen
        </button>
      </div>
    </div>
  </div>
</div>
