<h1>Willkommen bei <span class="highlighted">plevents</span></h1>

<a class="jump-to" (click)="scrollToElement('about')"
  >Über <span class="highlighted">plevents</span></a
>
<a class="jump-to" (click)="scrollToElement('benefits')">Vorteile</a>
<a class="jump-to" (click)="scrollToElement('howitworks')">Funktionsweise</a>
<a class="jump-to" (click)="scrollToElement('demo')">Demo</a>
<a class="jump-to" (click)="scrollToElement('price')">Preis</a>
<a class="jump-to" (click)="scrollToElement('contract')">Vertragslaufzeit</a>
<a class="jump-to" (click)="scrollToElement('faq')">Häufige Fragen</a>
<hr />
<h2 id="about">Über <span class="highlighted">plevents</span></h2>
<p>
  Mit <span class="highlighted">plevents</span> lassen sich Teilnehmer bei
  Veranstaltungen kinderleicht verwalten.
  <span class="highlighted">plevents</span> stellt hierfür eine Plattform
  bereit, über die Sie Events veröffentlichen, zu denen sich dann Teilnehmer
  anmelden können.
</p>
<p>
  Aufgrund der aktuellen Corona-Lage müssen dabei bestimmte Regelungen
  eingehalten werden. <span class="highlighted">plevents</span> unterstützt Sie
  hier. Teilnehmer müssen bei der Anmeldung ihren Namen sowie Adress- und
  Kontaktdaten hinterlegen. Diese Daten werden sicher gespeichert und
  DSGVO-konform nach 4 Wochen automatisch gelöscht. Nur die für die
  Verantstaltung verantwortlichen Personen haben Zugriff auf die Daten.
</p>
<p>
  <b
    >Damit findet <span class="highlighted">plevents</span> eine gute Balance
    zwischen lästiger Datenerfassung auf der einen und Sorge um Datenschutz auf
    der anderen Seite.</b
  >
</p>
<a [routerLink]="['/' + ROUTES.REGISTER_USER]" class="btn btn-success">
  <i class="fas fa-chevron-right" style="color: inherit"></i>
  Jetzt kostenlos registrieren und alle Funktionen testen
</a>
<hr />
<h2 id="benefits">Vorteile</h2>
<p>
  <span class="highlighted">plevents</span> wurde speziell entwickelt, um
  Anmelde- und Registrierprozesse für Events abzubilden. Der Fokus liegt dabei
  auf sich wiederholenden, regelmäßig stattfindenen Events wie z.B. ein
  wöchentlicher Volleyball-Kurs. <span class="highlighted">plevents</span>
  eignet sich aber auch hervorragend für die Verwaltung von kleinen und großen
  Einzelevents:
</p>

<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2">
    <ul class="no-bullets">
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex">
            <i class="flex-grow-1 fas fa-lock fa-3x"></i>
          </div>
          <div class="col-9">
            <h6>Datenschutz</h6>
            <p>
              In Zeiten digitaler Datenkraken ist es wichtiger denn je,
              persönliche Daten zu schützen.
            </p>
            <p>
              Ein Grundsatz von <span class="highlighted">plevents</span> daher:
              Sichere Datenspeicherung und garantierte Datenlöschung nach
              DSGVO-Standard. Eine Weitergabe oder sonstige Verarbeitung der
              personenbezogenen Daten findet <b>nicht</b> statt.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex">
            <i class="flex-grow-1 fas fa-lightbulb fa-3x"></i>
          </div>
          <div class="col-9">
            <h6>Einfachheit</h6>
            <p>
              Die Prozesse von
              <span class="highlighted">plevents</span> verfolgen ein Ziel:
              Einfachheit. Daher ist es sehr einfach, ein Einzelevent oder eine
              Eventserie anzulegen. Und genauso einfach ist es, sich als
              Teilnehmer zu einem Event anzumelden.
              <span class="highlighted">plevents</span>.de aufrufen, Event
              wählen, Teilnehmerdaten eintragen, fertig!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex">
            <i class="flex-grow-1 fas fa-euro-sign fa-3x"></i>
          </div>
          <div class="col-9">
            <h6>Preis</h6>
            <p>
              <span class="highlighted">plevents</span> bietet viel - und das zu
              einem sehr niedrigen Preis. Die Monatsgebühr liegt bei lediglich
              15€ zzgl. gesetzlicher Mehrwertsteuer. Somit kostet
              <span class="highlighted">plevents</span> gerade einmal
              <b>50 ct pro Tag</b>.
            </p>
            <p>
              <b>Und das Beste:</b> Für Vereine und kirchliche Organisationen
              können die Kosten für
              <span class="highlighted">plevents</span> (nach Prüfung) nochmals
              deutlich sinken. Informieren Sie sich vollkommen unverbindlich,
              eine Mail an
              <a href="mailto:stefan.strobel@s4-consulting.de"
                >stefan.strobel@s4-consulting.de</a
              >
              genügt.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex">
            <i class="flex-grow-1 fas fa-calendar-alt fa-3x"></i>
          </div>
          <div class="col-9">
            <h6>Anwendungsmöglichkeiten</h6>
            <p>
              Mit <span class="highlighted">plevents</span> kann man vielerlei
              Arten von Events verwalten. Dies fängt bei einer wöchentlichen
              Veranstaltung im Verein an, geht über einmalige Events wie
              Konzerte bis hin zur Erfassung von Restaurant-Besuchern.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex">
            <i class="flex-grow-1 fas fa-tools fa-3x"></i>
          </div>
          <div class="col-9">
            <h6>Anpassbarkeit</h6>
            <p>
              Bei <span class="highlighted">plevents</span> sind Events einer
              Organisation zugeordnet. Eine Organisation bezeichnet einen
              Verein, eine soziale Einrichtung oder ein Unternehmen. Alle Events
              einer Organisation sind über eine eindeutige URL aufrufbar. Und
              Sie können die URL selbst bestimmen!
            </p>
            <p>
              Sollten Sie also Events für den Tennis Club Musterhausen verwalten
              wollen, können Sie die URL
              https://plevents.de/o/tennis-club-musterhausen festlegen -
              vorausgesetzt, Ihnen ist noch niemand zuvorgekommen.
            </p>
            <p>
              Neben einer schön lesbaren URL können Sie außerdem Ihr Logo
              hinterlegen und sogar die Schriftfarbe anpassen, damit das
              Erscheinungsbild perfekt zu Ihrer Organisation passt.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex">
            <i class="flex-grow-1 fas fa-universal-access fa-3x"></i>
          </div>
          <div class="col-9">
            <h6>Vielfalt</h6>
            <p>
              Sie sind in mehreren Vereinen aktiv und möchten dort jeweils
              Termine verwalten? Kein Problem. Bei
              <span class="highlighted">plevents</span> können Sie mit Ihrem
              persönlichen Nutzerprofil mehrere Organisationen verwalten.
            </p>
            <p>
              Sie können zudem weitere Mitglieder nominieren, um bei der Planung
              und Durchführung der Events zu helfen. Das verteilt die Last auf
              mehrere Schultern und Sie können dieselbe Anwendung für
              verschiedene Vereine, Unternehmen oder Organisationen verwenden.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex">
            <i class="flex-grow-1 fas fa-smile-beam fa-3x"></i>
          </div>
          <div class="col-9">
            <h6>Weniger Stress</h6>
            <p>
              Die Teilnehmer können sich selbst zu den Events anmelden,
              zeitaufwändige Telefonanrufe oder Anmelde-Emails gehören damit der
              Vergangenheit an.
            </p>
            <p>
              Aber auch als Teilnehmer wird das Leben einfacher. Dank
              Vorbefüllung kann die Anmeldung zum nächsten Event in
              Sekundenschnelle erfolgen.
            </p>
            <p>
              Und aufgrund der digitalen Funktionsweise gehört lästiger
              Papierkram der Vergangenheit an!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<hr />
<h2 id="howitworks">Funktionsweise</h2>
<p>
  Die Verwendung von <span class="highlighted">plevents</span> ist denkbar
  einfach. Das Erstellen eines Events oder auch eines Serienevents bis
  Jahresende dauert in der Regel 2 Minuten. Die Anmeldung als Teilnehmer ist
  nach Auswahl der passenden Veranstaltung und Eingabe der persönlichen Daten
  ebenfalls innerhalb von wenigen Momenten erledigt:
</p>
<div class="row">
  <div class="col-12 col-lg-8 offset-lg-2">
    <ul class="no-bullets">
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex bold">
            <h4 class="flex-grow-1">Schritt 1</h4>
          </div>
          <div class="col-9">
            <p>
              In der Verwaltung von
              <span class="highlighted">plevents</span> legen Sie ein neues
              Event an. Entweder als Einzelveranstaltung oder als Serienevent.
              Serienevents finden wöchentlich zur gleichen Uhrzeit statt.
            </p>
            <p>
              Sie legen für das Event ein (Start-)Datum, eine Uhrzeit, die
              maximale Teilnehmerzahl und einen aussagekräftigen Namen fest.
            </p>
            <p><b>Das wars!</b> Das Event ist sofort freigeschaltet.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex bold">
            <h4 class="flex-grow-1">Schritt 2</h4>
          </div>
          <div class="col-9">
            <p>
              Teilnehmer können sich online selbst anmelden. Dabei wird die von
              Ihnen gesetzte maximale Teilnehmerzahl berücksichtigt.
            </p>
            <p>
              Bei Serienevents zeigt
              <span class="highlighted">plevents</span> nur die Veranstaltungen
              in der aktuellen und nächsten Woche. Das dient der
              Übersichtlichkeit und der Aktualität der Daten.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex bold">
            <h4 class="flex-grow-1">Schritt 3</h4>
          </div>
          <div class="col-9">
            <p>
              Dieser Schritt ist optional. Im Vorfeld oder Nachgang des Events
              können Sie die Teilnehmerliste online einsehen oder als PDF
              herunterladen.
            </p>
            <p>
              Damit können Sie z.B. die Teilnehmer vor Ort abhaken oder - auch
              wenn das niemand hofft - nach einem positiven Corona-Fall die
              anderen Teilnehmer verständigen.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-3 text-center align-items-center d-flex bold">
            <h4 class="flex-grow-1">Schritt 4</h4>
          </div>
          <div class="col-9">
            <p>Hier müssen Sie nichts weiter tun.</p>
            <p>
              <span class="highlighted">plevents</span> wird automatisch 4
              Wochen nach der Veranstaltung alle Teilnehmerdaten automatisch
              löschen. DSGVO-konform - aber einfach.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<hr />
<h2 id="demo">Demo</h2>
<p>
  Sie können sich gerne das Frontend für Teilnehmer anschauen. Unter
  <a href="https://plevents.de/o/demo" target="_blank"
    >https://plevents.de/o/demo</a
  >
  sehen Sie einige Test-Events. Dort können Sie erleben, wie einfach die
  Registrierung als Teilnehmer zu einer Veranstaltung ist.
</p>
<p>
  Auf den folgenden Screenshots können Sie zudem die Verwaltungsansicht
  kennenlernen. Hier planen Sie Events, verwalten Teilnehmerlisten und können
  IhrE Organisation verwalten. Dies inkludiert die Definition von Kategorien für
  eine bessere Organisation sowie die Nominierung von weiteren Nutzern als
  Administratoren oder Veranstaltungsleiter.
</p>
<div>
  <ul id="imageGallery">
    <li>
      <img src="assets/images/profile.png" alt="Profildaten verwalten" />
      <br />
      <label>Profildaten verwalten</label>
    </li>
    <li>
      <img
        src="assets/images/myorgs.png"
        alt="Übersicht über verbundene Organisationen"
      />
      <br />
      <label>Übersicht über verbundene Organisationen</label>
    </li>
    <li>
      <img
        src="assets/images/management.png"
        alt="Verwaltung einer Organisation"
      />
      <br />
      <label>Verwaltung einer Organisation</label>
    </li>
    <li>
      <img
        src="assets/images/eventplanner.png"
        alt="Planung der Veranstaltungen"
      />
      <br />
      <label>Planung der Veranstaltungen</label>
    </li>
  </ul>
</div>

<hr />
<h2 id="price">Preis</h2>
<p>
  Es gibt natürlich bereits Programme am Markt, welche sich um das Thema
  Event-Management und Teilnehmerverwaltung kümmern.
  <span class="highlighted">plevents</span> eignet sich besonders für die
  Anwendungsfälle, in denen keine komplizierte Buchung mit Bezahlvorgängen
  involviert ist.
</p>
<p>
  Die Grundessenz von <span class="highlighted">plevents</span> ist Einfachheit.
  Das hört auch beim Preis nicht auf. Ein Produkt - ein Preis. Profitieren Sie
  von eher sehr niedrigen und flexiblen Gebühr ohne versteckte Folgekosten oder
  Vertragsfallen.
</p>
<div class="row">
  <div
    class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-4 offset-xl-1"
  >
    <div class="card highlight-card mb-3">
      <div class="card-header text-center">
        <h2>pauschal: 15 € / Monat</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">Volle Transparenz beim Preis</h5>
        <p class="card-text">
          Sie können flexibel Monatlizenzen kaufen, dabei fällt noch die jeweils
          gesetzliche Mehrwertsteuer an. Ein langer Vertrag wird nicht
          abgeschlossen, Sie entscheiden selbst, wie lange Sie
          <span class="highlighted">plevents</span> nutzen möchten.
        </p>
        <a [routerLink]="['/' + ROUTES.REGISTER_USER]" class="btn btn-success"
          >Jetzt kostenlos testen</a
        >
      </div>
    </div>
  </div>
  <div
    class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-0 col-xl-4 offset-xl-2"
  >
    <div class="card highlight-card mb-3">
      <div class="card-header text-center">
        <h2>Für Vereine & Kirchen</h2>
      </div>
      <div class="card-body">
        <h5 class="card-title">Preis auf Anfrage</h5>
        <p class="card-text">
          Für kirchliche Organisationen und Vereine gibt es unter Umständen eine
          reduzierte Gebühr. Informieren Sie sich unverbindlich per Email bei
          <a href="mailto:stefan.strobel@s4-consulting.de"
            >stefan.strobel@s4-consulting.de</a
          >
        </p>
        <a [routerLink]="['/' + ROUTES.REGISTER_USER]" class="btn btn-success"
          >Jetzt kostenlos testen</a
        >
      </div>
    </div>
  </div>
</div>

<hr />
<h2 id="contract">Vertragslaufzeit</h2>
<p>
  Sollten Sie sich entscheiden,
  <span class="highlighted">plevents</span> einzusetzen, müssen Sie Ihre
  Organisation aktivieren. Dies geschieht durch einen Bestellvorgang einer
  Lizenz. Diese läuft jeweils einen Monat und verlängert sich automatisch um
  einen weiteren Monat. Sie können jederzeit zum Ende des lizenzierten Monats
  kündigen.
</p>
<p>
  Wenn Sie wider Erwarten nicht zufrieden sein sollten, können Sie den Vertrag
  jederzeit beenden oder auslaufen lassen. Ein Vertrag verlängert sich
  automatisch um einen weiteren Monat, wenn Sie nicht vor Monatsende.
</p>
<p>Pro angebrochenen Kalenderonat wird die monatliche Nutzungsgebühr fällig.</p>

<hr />
<h2 id="faq">Häufige Fragen</h2>
<div class="accordion">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#faq1"
        >
          Für wen ist <span class="highlighted">plevents</span> gedacht?
        </button>
      </h2>
    </div>
    <div id="faq1" class="collapse multi-collapse">
      <div class="card-body">
        <span class="highlighted">plevents</span> ist die ideale
        Registrier-Plattform für Vereine, Organisationen und Unternehmen für
        Veranstaltungen, zu denen sich die Teilnehmer im Vorfeld anmelden sollen
        oder bei denen die Teilnehmer aufgrund der aktuellen Corona-Verordnung
        ihre Adress- und Kontaktdaten hinterlegen müssen.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left"
          type="button"
          data-toggle="collapse"
          data-target="#faq2"
        >
          Kann ich Events mit einer Bezahlfunktion anlegen?
        </button>
      </h2>
    </div>
    <div id="faq2" class="collapse multi-collapse">
      <div class="card-body">
        Zum aktuellen Zeitpunkt nein.
        <span class="highlighted">plevents</span> ist für eine einfache und
        schnelle Anmeldung zu Veranstaltungen konzipiert. Die Einbindung einer
        Bezahlfunktion würde zu viel Komplexität in den Registrierungsprozess
        bringen.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#faq3"
        >
          Welche Daten werden erfasst?
        </button>
      </h2>
    </div>
    <div id="faq3" class="collapse multi-collapse">
      <div class="card-body">
        Wenn Sie <span class="highlighted">plevents</span> für Ihre Organisation
        einsetzen möchten, registrieren Sie sich mit Ihrer Email-Adresse sowie
        Ihrem Namen. Zusätzlich können Sie ein Logo Ihrer Organisation
        hinterlegen sowie die Farbwahl setzen.
        <span class="highlighted">plevents</span> speichert zudem alle
        relevanten Informationen zu Events, diese bestehen u.a. aus:
        <ul>
          <li>Veranstaltungsname</li>
          <li>Datum / Wochentag</li>
          <li>Uhrzeit</li>
          <li>maximale Teilnehmerzahl</li>
        </ul>
        Von den Teilnehmern werden bei einer Registrierung zudem folgende
        personenbezogene Daten erhoben:
        <ul>
          <li>Vorname</li>
          <li>Nachname</li>
          <li>Adresse</li>
          <li>Email</li>
          <li>Telefonnummer</li>
        </ul>
        Alle Daten werden sicher auf Servern in einem deutschen Rechenzentrum
        gespeichert. Es erfolgt ausdrücklich <b>keine</b> weitere
        Datenverarbeitung oder -weitergabe.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#faq4"
        >
          Was kostet <span class="highlighted">plevents</span>?
        </button>
      </h2>
    </div>
    <div id="faq4" class="collapse multi-collapse">
      <div class="card-body">
        <span class="highlighted">plevents</span> kostet pro Monat 15€ netto
        zzgl. gesetzlicher Mehrwertsteuer. Für Vereine und kirchliche
        Organisationen ist <span class="highlighted">plevents</span> kann es
        nach Absprache einen reduzierten Preis geben.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#faq5"
        >
          Kann ich <span class="highlighted">plevents</span> testen?
        </button>
      </h2>
    </div>
    <div id="faq5" class="collapse multi-collapse">
      <div class="card-body">
        Ja, Sie können sich jederzeit ein kostenloses Nutzerprofil erstellen und
        eine Test-Organisation einrichten. Somit lernen Sie alle Funktionen von
        <span class="highlighted">plevents</span> kennen und können dann
        entscheiden, ob Sie es weiterhin einsetzen möchten.
        <br />
        <a [routerLink]="['/' + ROUTES.REGISTER_USER]" class="btn btn-success">
          <i class="fas fa-chevron-right" style="color: inherit"></i>
          Jetzt kostenlos registrieren und alle Funktionen testen
        </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#faq6"
        >
          Wie sind Vertragslaufzeit und Kündigung geregelt?
        </button>
      </h2>
    </div>
    <div id="faq6" class="collapse multi-collapse">
      <div class="card-body">
        <span class="highlighted">plevents</span> ist nicht nur günstig, sondern
        auch fair. Daher gilt:
        <ul>
          <li>
            <b>monatliche Vertragslaufzeit</b> - kein langfristiges Risiko
          </li>
          <li><b>jederzeit kündbar</b> - bis 2 Tage zum Monatsende</li>
        </ul>
        <br />
        <a [routerLink]="['/' + ROUTES.REGISTER_USER]" class="btn btn-success">
          <i class="fas fa-chevron-right" style="color: inherit"></i>
          Jetzt kostenlos registrieren und alle Funktionen testen
        </a>
      </div>
    </div>
  </div>
</div>
