<h2>Mailverteiler Liste</h2>
<p>
  Verwalten Sie hier die Email-Adressen, an die die Erinnerungen geschickt
  werden.
</p>

<div *ngFor="let email of emails" class="row emailEntry">
  <div class="col-8">
    {{ email.address }}
  </div>
  <div class="col-4">
    <button class="btn btn-sm btn-outline-danger" (click)="delete(email.id)">
      Email löschen
    </button>
  </div>
</div>
<hr />
<form class="row" [formGroup]="newEmailForm" (ngSubmit)="addEmail()">
  <div class="col-8">
    <input type="text" class="form-control" formControlName="email" />
  </div>
  <div class="col-4">
    <button class="btn btn-sm btn-block btn-outline-success" type="submit">
      Hinzufügen
    </button>
  </div>
</form>
