.greyedOut {
  background-color: lightgray;
  color: gray;
}

.happening {
  background-color: lightgreen;
  color: darkgreen;
  font-weight: bold;
}

.active-toggle {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
}

.disabled {
  background-color: #b7b7b7;
}

.stateToggler {
  position: absolute;
  top: 3px;
  right: 6px;
  text-align: right;
  cursor: pointer;
  border: 1px solid gray;
  padding: 0px 10px;
  border-radius: 15px;
  background-color: #eee;
  &:hover {
    background-color: #bbb;
  }
}

.unavailable {
  border: 4px solid #780000;
  background-color: #fecccc;
  color: #780000;
  font-weight: bold;
}

.downloadIcon {
  position: absolute;
  left: 6px;
  top: 2px;
  cursor: pointer;
}
