<h2>Übersicht über alle anstehenden Events</h2>
<!-- button to show the "new event" form -->
<div>
  <button
    class="btn float-right btn-outline-success mb-3"
    style="margin-top: 32px"
    *ngIf="!newEventFormShown"
    (click)="newEventFormShown = true"
  >
    Neues Serienevent
  </button>
</div>
<!-- form to create a new event -->
<div style="margin-top: 40px" [hidden]="!newEventFormShown">
  <h5>Daten für neues Reihenevent:</h5>
  <form [formGroup]="newEventForm" (ngSubmit)="addNewEvent()">
    <div class="row">
      <div
        class="col-12 col-md-4"
        [ngClass]="{ invalid: isInvalid(newEventForm.controls.name) }"
      >
        <label for="name">Event-Name</label>
        <br />
        <input
          class="form-control"
          id="name"
          type="text"
          formControlName="name"
        />
      </div>
      <div
        class="col-6 col-md-4"
        [ngClass]="{ invalid: isInvalid(newEventForm.controls.fromDate) }"
      >
        <label for="fromDate">frühester Termin</label>
        <br />
        <input
          class="form-control"
          id="fromDate"
          type="date"
          formControlName="fromDate"
        />
      </div>
      <div
        class="col-6 col-md-4"
        [ngClass]="{ invalid: isInvalid(newEventForm.controls.category) }"
      >
        <label for="targetClass">Kategorie</label>
        <br />
        <input
          class="form-control"
          id="targetClass"
          type="text"
          formControlName="category"
          [ngbTypeahead]="search"
          (focus)="focus$.next($any($event).target.value)"
          (click)="click$.next($any($event).target.value)"
          #instance="ngbTypeahead"
        />
      </div>
      <div
        class="col-6 col-md-4"
        [ngClass]="{ invalid: isInvalid(newEventForm.controls.time) }"
      >
        <label for="name">Startzeit</label>
        <br />
        <input
          class="form-control"
          id="time"
          type="time"
          formControlName="time"
        />
      </div>
      <div
        class="col-6 col-md-4"
        [ngClass]="{ invalid: isInvalid(newEventForm.controls.maxSeats) }"
      >
        <label for="maxSeats">max. Teilnehmer</label>
        <br />
        <input
          class="form-control"
          id="maxSeats"
          type="number"
          formControlName="maxSeats"
        />
      </div>
      <div class="col-12 col-md-4">
        <button
          class="btn btn-block btn-outline-success"
          type="submit"
          style="margin-top: 32px"
          [disabled]="operationOngoing"
        >
          Event erstellen
        </button>
      </div>
    </div>
  </form>
</div>

<!-- display on wide screens -->
<table class="w-100 d-none d-xl-table mt-3" *ngIf="uniqueEvents">
  <thead>
    <tr>
      <th style="width: 100px">KW</th>
      <th
        style="width: 300px; text-align: center"
        *ngFor="let uniqueEvent of uniqueEvents"
      >
        {{ uniqueEvent.displayName() }}
        <br />
        {{ uniqueEvent.displayTime() }}
        &nbsp;<i
          class="fas fa-edit"
          style="cursor: pointer"
          (click)="editSeriesEvent(uniqueEvent, editSeriesEventModal)"
        ></i>
        <br />
        <span class="badge badge-cvjm">{{
          categoryName(uniqueEvent.categoryId)
        }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of weeks">
      <td [ngClass]="{ currentCW: week.number === currentCW() }">
        {{ week.number }}
        <small *ngIf="week.number === currentCW()"><br />aktuelle Woche</small>
      </td>
      <td
        *ngFor="let event of week.events"
        class="greyedOut"
        style="
          border: 1px solid white;
          height: 25px;
          line-height: 25px;
          text-align: center;
        "
        [ngClass]="{
          happening: event,
          unavailable: event && event.takenSeats >= event.maxSeats,
          disabled: event && event.disabled
        }"
      >
        <div *ngIf="event" style="position: relative">
          {{ event.displayDate() }}<br />
          <small>{{ event.takenSeats }} / {{ event.maxSeats }} </small
          ><i
            class="fas fa-file-pdf actionableIcon"
            (click)="downloadPdf(event)"
            title="Download Teilnehmerliste"
          ></i
          ><i
            class="fas fa-users actionableIcon"
            (click)="showEventParticipants(event, showParticipantsModal)"
            title="Anzeige Teilnehmer"
          ></i>
          <small class="stateToggler" (click)="toggleDisabled(event)">
            <i *ngIf="!event.disabled">aktiv</i>
            <i *ngIf="event.disabled">inaktiv</i>
          </small>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td *ngFor="let uniqueEvent of uniqueEvents; let i = index">
        <button
          class="btn btn-sm btn-block btn-outline-danger my-2 my-sm-0"
          (click)="deleteEventSeries(i)"
          [disabled]="operationOngoing"
        >
          Löschen
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- display on small screens -->
<div class="d-xl-none mt-3" *ngIf="uniqueEvents">
  <div
    class="card w-100 mb-3"
    *ngFor="let uniqueEvent of uniqueEvents; let i = index"
  >
    <div class="card-header">
      <b>{{ uniqueEvent.displayName() }}</b>
      <br />
      {{ uniqueEvent.displayTime() }}
    </div>
    <div class="card-body">
      <button
        class="btn btn-block btn-outline-secondary"
        type="button"
        data-toggle="collapse"
        [attr.data-target]="'#events-collapser-' + i"
        (click)="eventsOpened[i] = !eventsOpened[i]"
      >
        <i class="fas fa-angle-down" *ngIf="!eventsOpened[i]"></i>
        <i class="fas fa-angle-up" *ngIf="eventsOpened[i]"></i>
        Events anzeigen
      </button>
      <div class="collapse" [attr.id]="'events-collapser-' + i">
        <table class="w-100 mt-2">
          <thead>
            <tr>
              <th style="width: 30%">KW</th>
              <th style="width: 70%; text-align: center">Event</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of weeks">
              <td [ngClass]="{ currentCW: week.number === currentCW() }">
                {{ week.number }}
                <small *ngIf="week.number === currentCW()"
                  ><br />aktuelle Woche</small
                >
              </td>
              <td
                *ngFor="
                  let event of [
                    searchEventByUniqueEvent(week.events, uniqueEvent)
                  ]
                "
                class="greyedOut"
                style="
                  border: 1px solid white;
                  height: 25px;
                  line-height: 25px;
                  text-align: center;
                "
                [ngClass]="{
                  happening: event,
                  unavailable: event && event.takenSeats >= event.maxSeats
                }"
              >
                <div
                  *ngIf="event"
                  [ngClass]="{ disabled: event.disabled }"
                  style="position: relative"
                >
                  {{ event.displayDate() }}<br />
                  <small>{{ event.takenSeats }} / {{ event.maxSeats }} </small
                  ><i
                    class="fas fa-file-pdf actionableIcon"
                    (click)="downloadPdf(event)"
                    title="Download Teilnehmerliste"
                  ></i
                  ><i
                    class="fas fa-users actionableIcon"
                    (click)="
                      showEventParticipants(event, showParticipantsModal)
                    "
                    title="Anzeige Teilnehmer"
                  ></i>
                  <small class="stateToggler" (click)="toggleDisabled(event)">
                    <i *ngIf="!event.disabled">aktiv</i>
                    <i *ngIf="event.disabled">inaktiv</i>
                  </small>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-sm btn-block btn-outline-danger my-2"
        (click)="deleteEventSeries(i)"
        [disabled]="operationOngoing"
      >
        Eventserie löschen
      </button>
    </div>
  </div>
</div>

<div
  class="alert alert-secondary text-center"
  style="margin-top: 100px"
  *ngIf="!uniqueEvents"
>
  Daten werden geladen...
</div>

<ng-template #editSeriesEventModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Event bearbeiten</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Ändern Sie hier den Titel des Events, den Tag sowie die Uhrzeit beliebig
      ab. Diese Änderung wirkt sich auf alle in der Zukunft liegenden Events
      aus.
    </p>
    <form [formGroup]="editEventForm">
      <div class="row">
        <div
          class="col-12 form-group"
          [ngClass]="{ invalid: isInvalid(editEventForm.controls.name) }"
        >
          <label for="editEventName">Event-Name</label>
          <br />
          <input
            class="form-control"
            id="editEventName"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="col-12 form-group">
          <label>Wochentag</label>
          <br />
          <div class="btn-group w-100" btnRadioGroup formControlName="weekDay">
            <label class="btn btn-success" [btnRadio]="1">Mo</label>
            <label class="btn btn-success" [btnRadio]="2">Di</label>
            <label class="btn btn-success" [btnRadio]="3">Mi</label>
            <label class="btn btn-success" [btnRadio]="4">Do</label>
            <label class="btn btn-success" [btnRadio]="5">Fr</label>
            <label class="btn btn-success" [btnRadio]="6">Sa</label>
            <label class="btn btn-success" [btnRadio]="7">So</label>
          </div>
        </div>
        <div
          class="col-12 form-group"
          [ngClass]="{ invalid: isInvalid(editEventForm.controls.category) }"
        >
          <label for="editEventCategory">Kategorie</label>
          <br />
          <input
            class="form-control"
            id="editEventCategory"
            type="text"
            formControlName="category"
            [ngbTypeahead]="search"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            #instance="ngbTypeahead"
          />
        </div>
        <div
          class="col-12 form-group"
          [ngClass]="{ invalid: isInvalid(editEventForm.controls.time) }"
        >
          <label for="name">Startzeit</label>
          <br />
          <input
            class="form-control"
            id="time"
            type="time"
            formControlName="time"
          />
        </div>
        <div
          class="col-12 form-group"
          [ngClass]="{ invalid: isInvalid(editEventForm.controls.maxSeats) }"
        >
          <label for="maxSeats">max. Teilnehmer</label>
          <br />
          <input
            class="form-control"
            id="maxSeats"
            type="number"
            formControlName="maxSeats"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modalRef.hide()"
    >
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="updateEvents()"
    >
      Speichern
    </button>
  </div>
</ng-template>

<ng-template #showParticipantsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Teilnehmer</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Nachfolgend sind alle bisher angemeldeten Teilnehmer zu
      <b>{{ selectedEvent.name }}</b> am
      <b>{{ selectedEvent.displayDate() }}</b> um
      <b>{{ selectedEvent.displayTime(false) }} Uhr</b>
      aufgeführt:
    </p>
    <ul class="list-group" *ngIf="participants && participants.length > 0">
      <li
        class="list-group-item sg-hoverable-list-item"
        *ngFor="let participant of participants"
      >
        <div class="row">
          <div class="col-9">
            <div class="row">
              <div class="col-12 col-lg-6 col-xl-3">
                {{ participant.firstname + ' ' + participant.lastname }}
              </div>
              <div class="col-12 col-lg-6 col-xl-3">
                {{ participant.street }}<br />
                {{ participant.zip }}, {{ participant.city }}
              </div>
              <div class="col-12 col-lg-6 col-xl-3">
                {{ participant.email }}
              </div>
              <div class="col-12 col-lg-6 col-xl-3">
                {{ participant.phone }}
              </div>
            </div>
          </div>
          <div class="col-3">
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteParticipant(participant)"
              *ngIf="eventNotinPast()"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div
      class="alert alert-secondary"
      *ngIf="participants && participants.length === 0"
    >
      Noch keine Teilnehmer zu dieser Aktivität.
    </div>
    <small *ngIf="!participants">Teilnehmer werden geladen...</small>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modalRef.hide()"
    >
      Schließen
    </button>
  </div>
</ng-template>
