<div class="row">
  <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4">
    <div class="card">
      <h4 class="card-header">Passwort-Rücksetzung</h4>
      <div class="card-body">
        <form
          [formGroup]="passwordForm"
          (ngSubmit)="onSubmit()"
          *ngIf="!passwordSet"
        >
          <div class="form-group">
            <label for="password">Neues Passwort vergeben *</label>
            <input
              id="password"
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  passwordForm.get('password').invalid &&
                  passwordForm.get('password').touched
              }"
            />
            <div
              *ngIf="
                passwordForm.get('password').errors &&
                passwordForm.get('password').touched
              "
              class="invalid-feedback"
            >
              Bitte ein neues, gültiges Passwort eingeben
            </div>
          </div>
          <div class="text-right">
            <button
              [disabled]="loading || noCode"
              class="btn btn-success"
              style="margin-top: 32px"
            >
              Neues Passwort setzen
            </button>
          </div>
        </form>
        <div *ngIf="error" class="alert alert-danger text-center mt-3 mb-0">
          {{ error }}
        </div>
        <div *ngIf="noCode" class="alert alert-warning text-center mt-3 mb-0">
          Sie haben diese Seite ohne Code aufgerufen. Sie gelangen
          <a [routerLink]="['/login']">zurück zur Loginseite</a>.
        </div>
        <div
          *ngIf="passwordSet"
          class="alert alert-success text-center mt-3 mb-0"
        >
          Das neue Passwort wurde gespeichert. Bitte gehen Sie
          <a [routerLink]="['/login']">zur Loginseite</a> und melden Sie sich
          an.
        </div>
      </div>
    </div>
  </div>
</div>
