<div class="card">
  <h4 class="card-header">
    {{ tenant ? tenant.name + ' - ' : '' }}Interner Bereich
  </h4>
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Email</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && loginForm.get('username').errors
          }"
          required
        />
        <div
          *ngIf="submitted && loginForm.get('username').errors"
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.get('username').errors.required">
            Bitte Nutzername angeben
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Passwort</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && loginForm.get('password').errors
          }"
          required
        />
        <div
          *ngIf="submitted && loginForm.get('password').errors"
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.get('password').errors.required">
            Bitte Passwort angeben
          </div>
        </div>
      </div>
      <button [disabled]="loading" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Login
      </button>
      <span
        >noch kein Account?
        <a
          [routerLink]="
            tenantPath()
              ? ['/' + tenantPath(), 'nutzer-registrierung']
              : ['/nutzer-registrierung']
          "
          >Hier registrieren</a
        ></span
      >
      <button
        [disabled]="loading"
        class="btn btn-secondary"
        (click)="requestPasswordReset()"
      >
        Passwort vergessen
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
        {{ error }}
      </div>
      <div
        *ngIf="passwordResetStatus === 'success'"
        class="alert alert-success mt-3 mb-0"
      >
        Falls Ihre Email-Adresse im System bekannt ist, schicken wir Ihnen eine
        Email mit einem Link zum Passwort-Reset zu.
      </div>
      <div
        *ngIf="passwordResetStatus === 'error'"
        class="alert alert-warning mt-3 mb-0"
      >
        Beim Passwort-Reset trat ein Fehler auf. Bitte versuchen Sie es später
        nochmals
      </div>
    </form>
  </div>
</div>
