<div class="row">
  <div class="col-12 col-md-8 offset-md-2 col-xl-4 offset-xl-4">
    <div class="card">
      <h4 class="card-header">
        {{ tenant ? tenant.name + ' - ' : '' }}Interner Bereich
      </h4>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Email</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && loginForm.get('username').errors
              }"
              required
            />
            <div
              *ngIf="submitted && loginForm.get('username').errors"
              class="invalid-feedback"
            >
              <div *ngIf="loginForm.get('username').errors.required">
                Bitte Nutzername angeben
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Passwort</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && loginForm.get('password').errors
              }"
              required
            />
            <div
              *ngIf="submitted && loginForm.get('password').errors"
              class="invalid-feedback"
            >
              <div *ngIf="loginForm.get('password').errors.required">
                Bitte Passwort angeben
              </div>
            </div>
          </div>
          <div class="text-right">
            <button [disabled]="loading" class="btn btn-success">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Login
            </button>
          </div>
          <div>
            > noch kein Nutzerprofil?
            <a
              [routerLink]="
                tenantPath()
                  ? [
                      '/' + ROUTES.TENANT_PREFIX,
                      tenantPath(),
                      ROUTES.REGISTER_USER
                    ]
                  : ['/' + ROUTES.REGISTER_USER]
              "
              >Hier registrieren</a
            >
          </div>
          <div>
            > Passwort vergessen?
            <a [routerLink]="['/' + ROUTES.PASSWORD_FORGOTTEN]"
              >Hier zurücksetzen</a
            >
          </div>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
            {{ error }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
