<h4>Nutzerverwaltung</h4>
<p>
  Verwalten Sie die Mitglieder Ihres Organisationen und vergeben Sie
  entsprechende Rollen.
</p>
<ul class="list-group">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let tenantUserRelation of tenantUserRelations"
    [ngStyle]="{
      'background-color':
        tenantUserRelation.active === false ? 'whitesmoke' : ''
    }"
  >
    <div class="row">
      <div class="col-7">
        {{ tenantUserRelation.user.name }}<br />
        <small
          ><a href="mailto:{{ tenantUserRelation.user.email }}">{{
            tenantUserRelation.user.email
          }}</a></small
        >
      </div>
      <div class="col-5 text-right" style="line-height: 48px">
        <button
          *ngIf="!tenantUserRelation.active"
          class="btn btn-sm btn-outline-success ml-2"
          (click)="activate(tenantUserRelation.user)"
        >
          Zulassen
        </button>
        <div
          class="dropdown d-inline-block"
          *ngIf="
            tenantUserRelation.active &&
            tenantUserRelation.userId !== appService.getCurrentUser().id &&
            appService.hasRole(tenantUserRelation.tenantId, ROLE.OWNER)
          "
        >
          <button
            class="btn btn-sm btn-secondary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
          >
            <span *ngIf="tenantUserRelation.role === ROLE.OWNER"
              ><i class="fas fa-crown"></i> Owner</span
            >
            <span *ngIf="tenantUserRelation.role === ROLE.ADMIN">Admin</span>
            <span *ngIf="tenantUserRelation.role === ROLE.MEMBER">Leiter</span>
          </button>
          <div class="dropdown-menu">
            <a
              class="dropdown-item clickable"
              (click)="assignRole(tenantUserRelation, ROLE.OWNER)"
              ><i class="fas fa-crown"></i> Owner</a
            >
            <a
              class="dropdown-item clickable"
              (click)="assignRole(tenantUserRelation, ROLE.ADMIN)"
              >Admin</a
            >
            <a
              class="dropdown-item clickable"
              (click)="assignRole(tenantUserRelation, ROLE.MEMBER)"
              >Leiter</a
            >
          </div>
        </div>
        <span
          class="badge"
          *ngIf="
            tenantUserRelation.userId === appService.getCurrentUser().id ||
            (tenantUserRelation.active &&
              !appService.hasRole(tenantUserRelation.tenantId, ROLE.OWNER))
          "
          [ngClass]="{
            'badge-success':
              tenantUserRelation.isAdmin() && !tenantUserRelation.isOwner(),
            'badge-primary': tenantUserRelation.isOwner(),
            'badge-secondary':
              !tenantUserRelation.isAdmin() && !tenantUserRelation.isOwner()
          }"
        >
          <span *ngIf="tenantUserRelation.isOwner()"
            ><i class="fas fa-crown"></i> Owner</span
          >
          <span
            *ngIf="
              tenantUserRelation.isAdmin() && !tenantUserRelation.isOwner()
            "
            >Admin</span
          >
          <span
            *ngIf="
              !tenantUserRelation.isAdmin() && !tenantUserRelation.isOwner()
            "
            >Leiter</span
          >
        </span>
        <i
          class="fas fa-user-shield clickable ml-4"
          *ngIf="
            tenantUserRelation.role === ROLE.MEMBER &&
            appService.hasRole(tenantUserRelation.tenantId, ROLE.ADMIN)
          "
          (click)="
            showEventRelations(tenantUserRelation.user, showEventRelationsModal)
          "
        ></i>
        <i
          class="fas fa-trash-alt clickable ml-4 text-danger"
          *ngIf="
            tenantUserRelation.role === ROLE.MEMBER ||
            tenantUserRelation.active === false ||
            appService.hasRole(tenantUserRelation.tenantId, ROLE.OWNER)
          "
          (click)="delete(tenantUserRelation.user)"
        ></i>
      </div>
    </div>
  </li>
  <li
    class="list-group-item list-group-item-action text-center"
    *ngIf="!tenantUserRelations"
  >
    <loading></loading> Nutzer werden geladen
  </li>
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let invitation of invitations"
    style="background-color: whitesmoke"
  >
    <div class="row">
      <div class="col-7">
        <span class="badge badge-secondary">Einladung verschickt</span>
        <br />
        <small
          ><a href="mailto:{{ invitation.email }}">{{
            invitation.email
          }}</a></small
        >
      </div>
      <div class="col-5" style="line-height: 48px">
        <button
          class="float-right btn btn-sm btn-outline-danger"
          (click)="revokeInvitation(invitation)"
        >
          Einladung zurückziehen
        </button>
      </div>
    </div>
  </li>
  <li class="list-group-item list-group-item-action">
    <form [formGroup]="inviteAdminForm" (ngSubmit)="inviteNewAdmin()">
      <div class="d-flex">
        <input
          class="form-control flex-grow-1"
          id="inviteEmail"
          type="email"
          placeholder="Email-Adresse des neuen Nutzers"
          formControlName="email"
        />
        <button class="ml-3 btn btn-outline-success text-nowrap">
          Nutzer einladen
        </button>
      </div>
    </form>
    <div class="alert alert-success mt-2" *ngIf="invitedUser">
      {{ invitedUser }}
    </div>
    <div class="alert alert-warning mt-2" *ngIf="userExists">
      {{ userExists }}
    </div>
  </li>
</ul>

<!-- modal to select which events the user has access to -->
<ng-template #showEventRelationsModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Zugriff auf Teilnehmerdaten</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Legen Sie fest, zu welchen Veranstaltungen
      <b>{{ selectedUser.name }}</b> Zugriff auf die Teilnehmerliste erhält:
    </p>
    <h5 *ngIf="eventSeries && eventSeries.length > 0">Serienevents</h5>
    <ul class="list-group mb-4" *ngIf="eventSeries && eventSeries.length > 0">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let event of eventSeries"
      >
        <div class="d-flex">
          <div class="flex-grow-1">{{ event.name }}</div>
          <div style="width: 50px">
            <div
              class="custom-control custom-switch float-right clickable"
              (click)="toggleAccessOnEventSeries(event.id)"
            >
              <input
                type="checkbox"
                class="custom-control-input clickable"
                [checked]="selectedUser.hasAccessToEvent(event.id)"
              />
              <label class="custom-control-label clickable m-0"></label>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <h5 *ngIf="singleEvents && singleEvents.length > 0">
      Einzelveranstaltungen
    </h5>
    <ul class="list-group" *ngIf="singleEvents && singleEvents.length > 0">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let singleEvent of singleEvents"
      >
        <div class="d-flex">
          <div class="flex-grow-1">{{ singleEvent.name }}</div>
          <div style="width: 50px">
            <div
              class="custom-control custom-switch float-right clickable"
              (click)="toggleAccessOnEvent(singleEvent.id)"
            >
              <input
                type="checkbox"
                class="custom-control-input clickable"
                [checked]="selectedUser.hasAccessToEvent(singleEvent.id)"
              />
              <label class="custom-control-label clickable m-0"></label>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="alert alert-light" *ngIf="!singleEvents && !eventSeries">
      Events werden geladen...
    </div>
    <div
      class="alert alert-secondary"
      *ngIf="
        singleEvents &&
        singleEvents.length === 0 &&
        eventSeries &&
        eventSeries.length === 0
      "
    >
      Es sind keine Veranstaltungen vorhanden.
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modalRef.hide()"
    >
      Schließen
    </button>
  </div>
</ng-template>
