<h2>Verwaltung des Accounts</h2>
<p>
  Verwalten Sie hier den Namen und den Pfad Ihres Accounts. Zudem können Sie ein
  Logo hinterlegen und Administratoren verwalten.
</p>
<div
  class="alert alert-warning d-flex flex-row"
  *ngIf="tenant && !tenant.active"
>
  <div style="width: 30px">
    <i class="fas fa-exclamation-triangle"></i>
  </div>
  <div>
    Dieser Account ist derzeit noch <b>nicht</b> freigeschaltet. Events sind
    daher noch nicht öffentlich verfübar. Bitte kontaktieren Sie den Support für
    Unterstützung:
    <a href="mailto:stefan.strobel@s4-consulting.de"
      >stefan.strobel@s4-consulting.de</a
    >
  </div>
</div>
<div
  class="alert alert-success d-flex flex-row"
  *ngIf="tenant && tenant.active"
>
  <div style="width: 30px">
    <i class="fas fa-check"></i>
  </div>
  <div>Der Account ist aktiv. Teilnehmer können sich zu Events anmelden.</div>
</div>

<hr />
<h4>Allgemein</h4>
<form [formGroup]="tenantForm">
  <div class="row">
    <div class="col-12 col-md-6" [ngClass]="{ invalid: isInvalid('name') }">
      <label for="name">Name *</label>
      <br />
      <input
        class="form-control"
        id="name"
        type="text"
        formControlName="name"
      />
    </div>
    <div class="col-12 col-md-6" [ngClass]="{ invalid: isInvalid('path') }">
      <label for="name">Pfad *</label>
      <br />
      <input
        class="form-control"
        id="path"
        type="text"
        formControlName="path"
        (keyup)="checkPath()"
        [ngClass]="{
          'is-invalid': pathCheck.pathTaken
        }"
      />
      <div *ngIf="pathCheck.pathTaken" class="invalid-feedback">
        Dieser Pfad ist bereits leider vergeben
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="consentTeaser1">Einwilligungserklärung 1 Teaser</label>
      <br />
      <input
        class="form-control"
        id="consentTeaser1"
        type="text"
        formControlName="consentTeaser1"
      />
      <small>{{ currentLengthOf('consentTeaser1') }} / 1.000 Zeichen</small>
      <br />
      <label style="margin-top: 25px" for="consent"
        >Einwilligungserklärung 1 Details</label
      >
      <br />
      <quill-editor
        formControlName="consentText1"
        [style]="{ height: '250px' }"
      ></quill-editor>
      <small>{{ currentLengthOf('consentText1') }} / 10.000 Zeichen</small>
    </div>
    <div class="col-12 col-md-6">
      <label for="consentTeaser2">Einwilligungserklärung 2 Teaser</label>
      <br />
      <input
        class="form-control"
        id="consentTeaser2"
        type="text"
        formControlName="consentTeaser2"
      />
      <small>{{ currentLengthOf('consentTeaser2') }} / 1.000 Zeichen</small>
      <br />
      <label style="margin-top: 25px" for="consent"
        >Einwilligungserklärung 2 Details</label
      >
      <br />
      <quill-editor
        formControlName="consentText2"
        [style]="{ height: '250px' }"
      ></quill-editor>
      <small>{{ currentLengthOf('consentText2') }} / 10.000 Zeichen</small>
    </div>
    <div
      class="col-12 col-md-6"
      [ngClass]="{ invalid: logoValidationError !== null }"
    >
      <label (click)="selectNewLogo()">Logo für den Account</label>
      <div class="form-group">
        <div *ngIf="tenant !== null && tenant.logo !== null">
          <img
            class="plevents-tenant-logo plevents-tenant-logo-hover"
            [src]="tenant.logo"
            (click)="selectNewLogo()"
          />
          <br />
          <small
            ><i style="cursor: pointer" (click)="selectNewLogo()"
              >neues Logo auswählen</i
            ></small
          >
        </div>
        <div
          class="plevents-tenant-logo plevents-tenant-logo-hover"
          [hidden]="tenant !== null && tenant.logo !== null"
        >
          <input
            type="file"
            id="logo_file_input"
            accept=".jpg,.jpeg,.png"
            (change)="setNewLogo($event)"
          />
          <label for="logo_file_input">Logo auswählen</label>
        </div>
        <div class="invalid-logo" *ngIf="logoValidationError !== null">
          {{ logoValidationError }}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      Darstellungsfarbe<br />
      <b
        class="clickable"
        [style.color]="color"
        [cpPosition]="'bottom'"
        [cpPositionOffset]="'50%'"
        [cpPositionRelativeToArrow]="true"
        [(colorPicker)]="color"
        >Legen Sie hier Ihre persönliche Anwendungsfarbe fest</b
      >
    </div>
  </div>
  <div class="col-12 col-md-3 offset-md-9">
    <button
      class="btn btn-block btn-outline-success"
      (click)="updateTenant()"
      style="margin-top: 32px"
      [disabled]="operationOngoing"
    >
      Speichern
    </button>
  </div>
</form>

<hr />

<div class="row">
  <div
    class="col-12 col-lg-6"
    *ngIf="tenant && appService.hasRole(tenant.id, ROLE.ADMIN)"
  >
    <category-management [tenant]="tenant"></category-management>
  </div>
  <div class="col-12 col-lg-6">
    <h4>Administratoren</h4>
    <p>
      Verwalten Sie die Mitglieder Ihres Accounts und vergeben Sie entsprechende
      Rollen.
    </p>
    <div
      *ngFor="let tenantUserRelation of tenantUserRelations"
      class="row emailEntry"
    >
      <div class="col-12 col-md-8">
        {{ tenantUserRelation.user.name }}<br />
        <small
          ><a href="mailto:{{ tenantUserRelation.user.email }}">{{
            tenantUserRelation.user.email
          }}</a></small
        >
      </div>
      <div class="col-12 col-md-4">
        <button
          *ngIf="!tenantUserRelation.active"
          class="float-right btn btn-sm btn-success ml-2"
          (click)="activate(tenantUserRelation.user)"
        >
          Zulassen
        </button>
        <div
          class="dropdown"
          *ngIf="
            tenantUserRelation.active &&
            appService.hasRole(tenantUserRelation.tenantId, ROLE.OWNER)
          "
        >
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
          >
            <span *ngIf="tenantUserRelation.role === ROLE.OWNER">Owner</span>
            <span *ngIf="tenantUserRelation.role === ROLE.ADMIN">Admin</span>
            <span *ngIf="tenantUserRelation.role === ROLE.MEMBER">Leiter</span>
          </button>
          <div class="dropdown-menu">
            <a
              class="dropdown-item clickable"
              (click)="assignRole(tenantUserRelation, ROLE.OWNER)"
              >Owner</a
            >
            <a
              class="dropdown-item clickable"
              (click)="assignRole(tenantUserRelation, ROLE.ADMIN)"
              >Admin</a
            >
            <a
              class="dropdown-item clickable"
              (click)="assignRole(tenantUserRelation, ROLE.MEMBER)"
              >Leiter</a
            >
          </div>
        </div>
        <span
          class="badge"
          *ngIf="
            tenantUserRelation.active &&
            !appService.hasRole(tenantUserRelation.tenantId, ROLE.OWNER)
          "
          [ngClass]="{
            'badge-success':
              tenantUserRelation.isAdmin() && !tenantUserRelation.isOwner(),
            'badge-primary': tenantUserRelation.isOwner(),
            'badge-secondary':
              !tenantUserRelation.isAdmin() && !tenantUserRelation.isOwner()
          }"
        >
          <span *ngIf="tenantUserRelation.isOwner()">Owner</span>
          <span
            *ngIf="
              tenantUserRelation.isAdmin() && !tenantUserRelation.isOwner()
            "
            >Admin</span
          >
          <span
            *ngIf="
              !tenantUserRelation.isAdmin() && !tenantUserRelation.isOwner()
            "
            >Leiter</span
          >
        </span>
        <button
          class="float-right btn btn-sm btn-outline-danger"
          (click)="delete(tenantUserRelation.user)"
          [disabled]="operationOngoing"
        >
          Admin löschen
        </button>
      </div>
    </div>
    <div *ngFor="let invitation of invitations" class="row emailEntry">
      <div class="col-12 col-md-8">
        <span class="badge badge-secondary">Einladung verschickt</span>
        <br />
        <small
          ><a href="mailto:{{ invitation.email }}">{{
            invitation.email
          }}</a></small
        >
      </div>
      <div class="col-12 col-md-4">
        <button
          class="float-right btn btn-sm btn-outline-danger"
          (click)="revokeInvitation(invitation)"
        >
          Einladung zurückziehen
        </button>
      </div>
    </div>

    <button
      *ngIf="!showInvitationForm"
      class="btn btn-sm btn-outline-success mt-3"
      (click)="showInvitationForm = true"
    >
      Neuen Admin einladen
    </button>
    <form
      *ngIf="showInvitationForm"
      class="mt-3"
      [formGroup]="inviteAdminForm"
      (ngSubmit)="inviteNewAdmin()"
    >
      <label for="inviteEmail">Email-Adresse des neuen Admins</label>
      <input
        class="form-control"
        id="inviteEmail"
        type="email"
        placeholder="Bitte gültige Email-Adresse eingeben"
        formControlName="email"
      />
    </form>
  </div>
</div>
<hr />

<h4>Löschung</h4>
<div class="row">
  <div class="col-12 col-md-8">
    Falls Sie Ihren Account nicht mehr benötigen, können Sie hier jegliche Daten
    löschen. Hierzu gehören:
    <ul>
      <li>alle Admin Accounts</li>
      <li>alle Events</li>
      <li>alle Teilnehmerdaten</li>
    </ul>
    Die Löschung erfolgt sofort und kann <b>nicht</b> rückgängig gemacht werden!
  </div>
  <div class="col-12 col-md-4">
    <button
      class="btn btn-block btn-sm btn-outline-danger"
      (click)="deleteTenant()"
      [disabled]="operationOngoing"
    >
      Account löschen
    </button>
  </div>
</div>
