<div class="card">
  <h4 class="card-header">Passwort-Rücksetzung</h4>
  <div class="card-body">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-md-8 col-xl-10">
          <div class="form-group">
            <label for="password">Neues Passwort vergeben</label>
            <input
              id="password"
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && passwordForm.get('password').errors
              }"
            />
            <div
              *ngIf="submitted && passwordForm.get('password').errors"
              class="invalid-feedback"
            >
              Bitte ein neues, gültiges Passwort eingeben
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-xl-2">
          <button
            [disabled]="loading || noCode"
            class="btn btn-block btn-primary"
            style="margin-top: 32px"
          >
            Neues Passwort setzen
          </button>
        </div>
      </div>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
        {{ error }}
      </div>
      <div *ngIf="noCode" class="alert alert-warning mt-3 mb-0">
        Sie haben diese Seite ohne Code aufgerufen. Sie gelangen
        <a [routerLink]="['/login']">zurück zur Loginseite</a>.
      </div>
      <div *ngIf="passwordSet" class="alert alert-success mt-3 mb-0">
        Das neue Passwort wurde gespeichert. Bitte gehen Sie
        <a [routerLink]="['/login']">zur Loginseite</a> und melden Sie sich an.
      </div>
    </form>
  </div>
</div>
