@import '../../../styles-variables.scss';

.newEventContainer {
  margin-top: 40px;
  padding: 5px;
  border: 1px solid #e1e1e1;
  background-color: whitesmoke;
  position: relative;
  > button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.action-buttons-container {
  width: 100%;
  display: flex;
  > div {
    flex: 1 1 auto;
  }
}

.greyedOut {
  background-color: whitesmoke;
  color: $plevents-grey-dark;
  border: 1px solid white;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.happening {
  background-color: lightgreen;
  color: darkgreen;
  font-weight: bold;
  &.empty {
    background-color: #8cbf8c5c;
    color: #006400bd;
    &.has-passed {
      background: repeating-linear-gradient(
        -45deg,
        #90ee905c,
        #90ee905c 8px,
        #d7d7d7 8px,
        #d7d7d7 9px
      );
    }
  }
  &.has-passed {
    background: repeating-linear-gradient(
      -45deg,
      lightgreen,
      lightgreen 8px,
      #b7b7b7 8px,
      #b7b7b7 9px
    );
  }
}

.active-toggle {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
}

.disabled {
  background-color: $plevents-grey-light !important;
}

.stateToggler {
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: right;
  border: 1px solid $plevents-grey-dark;
  padding: 0px 5px;
  border-radius: 10px;
  line-height: 20px;
  color: $plevents-grey-dark;
  &.clickable {
    color: inherit;
    cursor: pointer;
    background-color: lighten($plevents-grey-light, 5%);
    &:hover {
      background-color: $plevents-grey-light;
    }
  }
}

.unavailable {
  border: 4px solid #780000;
  background-color: #fecccc;
  color: #780000;
  font-weight: bold;
}

.actionableIcon {
  position: absolute;
  left: 4px;
  top: 2px;
  cursor: pointer;
  font-size: 1.1em;
  &:nth-of-type(2) {
    left: 1.3em;
  }
}

table {
  thead {
    background-color: #e6e6de;
    tr th {
      border-left: 1px solid white;
      div.row {
        margin: 0px;
        > div {
          padding: 2px;
        }
      }
    }
  }
  tbody {
    tr {
      height: 53px;
      td.currentCW {
        background-color: var(--plevents-main-color);
        color: white;
      }
    }
  }
}

.badge-plevents {
  background-color: white;
  border: 1px solid var(--plevents-main-color);
  color: var(--plevents-main-color);
}

.sg-hoverable-list-item {
  padding: 10px;
  &:hover {
    background-color: whitesmoke;
  }
}
